<template>
    <div style="margin:0px -11px;">
        <v-toolbar class="app-bar-gradient" style="margin-top:-12px">
        <nuxt-link to="/account/order-history" style="text-decoration:none" class="pr-3 pl-0">
        
            <v-icon color="white">mdi-chevron-left</v-icon>
        
        </nuxt-link>
        <v-toolbar-title class="font-weight-bold subtitle-1 white--text">Detail Pesanan</v-toolbar-title>
        <v-spacer></v-spacer>
        </v-toolbar>
        <v-container class="mt-2">
          
            <v-row style="text-align:center" class="mx-4 ">
                <div>
                    <div class="stepper-circle-active">
                        <v-icon color="white" style="margin-top:25%;">mdi-package-variant</v-icon>
                    </div>
                    
                </div>
                <v-divider class="mt-5 stepper-line-active"></v-divider>
                <div>
                    <div class="stepper-circle-active">
                        <v-icon color="white" style="margin-top:25%;">mdi-package-variant</v-icon>
                    </div>
                    
                </div>
                <v-divider class="mt-5 stepper-line-active" ></v-divider>
                <div>
                    <div class="stepper-circle-active">
                        <v-icon color="white" style="margin-top:25%;">mdi-package-variant</v-icon>
                    </div>
                    
                </div>
                <v-divider class="mt-5 stepper-line-inactive"></v-divider>
                <div>
                    <div class="stepper-circle-inactive">
                        <v-icon color="white" style="margin-top:25%;">mdi-package-variant</v-icon>
                    </div>
                   
                </div>
            </v-row>
            <v-row class="mx-2" justify="space-between">
                <div ><b>Packing</b></div>
                <div ><b>Shipping</b></div>
                <div><b>Arriving</b></div>
                <div ><b>Success</b></div>
            </v-row>
        </v-container>
        <v-container>
            <v-row class="mx-1">
                <v-col class="px-1">
                    <span class="font-weight-black" style="font-size:19px;">Rincian</span>
                </v-col>
            </v-row>
            <v-row class="mx-2">
                <v-card outlined width="100%" :loading="loading" style="font-size:15px;">
                    <v-row class="px-3">
                        <v-col class="pb-0">
                            <span class="font-weight-regular ">Invoice No.</span>
                        </v-col>
                        <v-col class="text-truncate text-right pb-0">
                            <span class="font-weight-bold" style="color:#ABCF2A">Nomor Invoice</span>
                        </v-col>
                    </v-row>
                    <v-row class="px-3">
                        <v-col cols="7" class="pb-0">
                            <span class="font-weight-regular ">Metode Pembayaran</span>
                        </v-col>
                        <v-col cols="5" class="text-truncate text-right pb-0">
                            <span class="font-weight-bold">Virtual Account</span>
                        </v-col>
                    </v-row>
                    <v-row class="px-3">
                        <v-col class="pb-0">
                            <span class="font-weight-regular ">Account No.</span>
                        </v-col>
                        <v-col class="text-truncate text-right pb-0" >
                            <span class="font-weight-bold ">3232323232131232444</span>
                        </v-col>
                    </v-row>
                    <v-row class="px-3">
                        <v-col class="pb-0">
                            <span class="font-weight-regular ">Metode Pengiriman</span>
                        </v-col>
                        <v-col class="text-truncate text-right pb-0">
                            <span class="font-weight-bold ">JNE YES</span>
                        </v-col>
                    </v-row>
                    <v-row class="px-3">
                        <v-col class="pb-0">
                            <span class="font-weight-regular ">No. Resi</span>
                        </v-col>
                        <v-col class="text-truncate text-right ">
                            <span class="font-weight-bold ">423442424432432</span>
                        </v-col>
                    </v-row>
                </v-card>
            </v-row>
        </v-container>

        <v-container>
            <v-row class="mx-1">
                <v-col class="px-1">
                    <span class="font-weight-black" style="font-size:19px;">Detail Pengiriman</span>
                </v-col>
            </v-row>
            <v-row class="mx-2">
                <v-card outlined width="100%" :loading="loading"   >
                    <v-card-title class="font-weight-bold">
                        Keren Keren
                    </v-card-title>
                    <v-card-text>
                        daddsddsa
                    </v-card-text>
                    <v-card-text>
                        alamat jalaann 1v no 4
                    </v-card-text>
                </v-card>
            </v-row>
        </v-container>

        <v-container>
            <v-row class="mx-1">
                <v-col class="px-1">
                    <span class="font-weight-black" style="font-size:19px;">Merchant</span>
                </v-col>
            </v-row>
            <v-row class="mx-2">
                <v-col class="pl-0 pt-0" cols="4">      
                    <v-avatar class="responsive-avatar"  ></v-avatar>
                </v-col>
                <v-col class="pt-5" cols="7">      
                    <v-row class="">
                        <span class="font-weight-bold" style="color:#ABCF2A;font-size:18px;">Tokoammama</span>
                    </v-row>
                    <v-row>
                        <span class="caption">Jakarta Pusat</span>
                    </v-row>
                </v-col>
            </v-row>
        </v-container>

        <v-container>
            <v-row class="mx-1">
                <v-col class="px-1">
                    <span class="font-weight-black" style="font-size:19px;">Detail Pembelian</span>
                </v-col>
            </v-row>
            <v-row class="mx-2">
                <v-card outlined width="100%" :loading="loading">
                    <v-row class="px-4">
                        <v-col cols="3">  
                            <v-img :width="imageHeight" src="https://via.placeholder.com/150"></v-img>
                        </v-col>
                        <v-col cols="8" class="pl-6">
                            <v-row style="max-height:34px;overflow:hidden;line-height:1.0;">
                                <span><b style="color:black;font-weight:800;font-size:14px;">NIKE Air Zoom Pedsddsdsdsdsdddsdsddsdddgasus 36 Miami</b></span>
                            </v-row>
                            <v-row class="pt-1">    
                                <span style="font-size:10px" >Qty: 2 Barang</span>
                                <span style="display:inline-block;width:25px" ></span>
                                <span style="font-size:10px">Berat: 150 gram</span>
                            </v-row>
                            <v-row class="pt-1">
                                <b style="color:#34B36A;font-weight:800;font-size:14px;">Rp200.000,-</b>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-card>
            </v-row>
        </v-container>

        <v-container class="mb-3">
            <v-row class="mx-1">
                <v-col class="px-1">
                    <span class="font-weight-black" style="font-size:19px;">Rincian Pembayaran</span>
                </v-col>
            </v-row>
            <v-row class="mx-2">
                <v-card outlined width="100%" :loading="loading">
                    <v-row class="px-3">
                        <v-col class="">
                            <span>Jumblah Barang (2)</span>
                        </v-col>
                        <v-col class="">
                            <span>Rp200.000</span>
                        </v-col>
                    </v-row>
                    <v-row class="px-3">
                        <v-col class="">
                            <span>Jumblah Barang (2)</span>
                        </v-col>
                        <v-col class="">
                            <span>Rp200.000</span>
                        </v-col>
                    </v-row>
                    <hr style="border-top: 2px dashed #CCCCCC">
                    <v-row class="px-3">
                        <v-col class="">
                            <span><b>Jumblah Barang (2)</b></span>
                        </v-col>
                        <v-col class="">
                            <span style="color:#34B36A"><b>Rp200.000</b></span>
                        </v-col>
                    </v-row>
                </v-card>
            </v-row>
        </v-container>
        <v-row class="mx-2">
            <v-col>
            <v-btn depressed block x-large color="primary" class="font-weight-bold">Notify Me</v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
</style>

<script>
export default {
    components:{
        
    },
    data(){
        return{
           loading:true,
        }
    },
    watch: {
      
    },
    methods: {
       
    },
    mounted(){
        this.loading = false;
    },
    computed: {
        imageHeight () {
        switch (this.$vuetify.breakpoint.name) {
            case 'xs': return '60px'
            case 'sm': return '120px'
            case 'md': return '150px'

        }
        },
    },
}
</script>

<style scoped>
.stepper-circle-active{
    background-color:#ABCF2A;border-radius:100%;width:45px;height:45px;
}
.stepper-circle-inactive{
    background-color:#F2F2F2;border-radius:100%;width:45px;height:45px;
}
.stepper-line-inactive{
    border-width:1px;
}
.stepper-line-active{
    border-width:1px;border-color:#ABCF2A !important;
}
</style>>
