body, html {
    background-color: #FFFFFF;
}
.form-horizontal .control-label{    text-align: left;
}
.home-slideshow { margin: 5px; }
.banner-1 { margin: 5px; }
.banner-1:nth-child(2n) { margin: 5px; margin-top: 8px;  }

.headSmallSlider { position: relative; width: 250px; margin-left: 20px; text-align: center; top: -10px; }
.hssEach { text-align: center; color: #666; text-transform: uppercase; font-size: 10px;}
.hssEach img { width: 100px; height: auto;}

.navSubCat a { font-size: 11px !important; padding-top: 2px !important; padding-bottom: 2px !important; margin-left: 22px; }
.navSubCat a:hover{
    color: #97C23C
}
.parCat { border-bottom: 1px solid #e6e6e6;  background-color: #f6f7fb !important; padding-left: 10px; margin-bottom: 10px; }

.hssNav { color: #999; letter-spacing: 2px; position: absolute; bottom: -20px; right:0; left:0; font-size: 10px; }

.link{
    color: #006dcc;
}
.info-store{
    margin-left: 20px;
    color: #006dcc;
}
.popover .topbottom {
    margin-top: 5px;
    margin-bottom: 5px;
}
.popover .dl-horizontal {
    padding-right: 5px;
    padding-left:5px;
}
.popover .listHeading {
    text-align: left !important;
    font-size: 12px;
    font-weight: normal;
    width: auto;
    line-height: 20px;
}
.popover .listText {
    text-align: right !important;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-left: 0;
}
.list-cat li.active > a{
    color: #97C23C;
    font-weight: 600 !important;
}
.list-cat ul{
    margin-left: 10px;
}
.sortBy select{
    font-family: Poppins;
    color: #333;
    font-size: 12px;
}
h2, .h2{
    text-transform: none;
}
.related-products{
    margin-bottom: 25px;
}
header section.top-header .top-header-inner>ul>li.login-account ul>li a{
    color: #000
}
.customer-accounts li a{
    display: block;
    color: #000;
    padding: 0 10px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}
body table.cart-items .quantity-wrapper input[type="number"]{
    padding: 10px;
    width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.vendor-data-shipping .vendor-data-shipping-merchant {
    border: 1px solid #eee;
    background: #f5f5f5;
    margin-bottom: 10px;
}
.vendor-data-shipping .vendor-data-shipping-merchant .vendor-shipping-products {
    background: #ffffff;
    min-height: 150px;
}
.my-account .sidebar.collection-leftsidebar{
    padding-left: 0;
}
.my-account .panel-default>.panel-heading {
    background-color: #ffffff;
    padding: 10px 15px;
}
.order-header-code, .order-header-total {
    font-weight: bold;
    font-size: 16px;
}
.order-header-code, .order-header-total {
    font-weight: bold;
    font-size: 16px;
}
#review .panel-heading span{
    display: inline-block;
}
.my-account .order-detail table tbody td{
    padding: 0;
    text-align: left;
}
.my-account .order-detail td,
.my-account .order-detail td,
.my-account .order-detail table{
    border: none;
}

@media(max-width: 767px){
    .my-account{
        padding-top: 15px;
    }
    .my-account .heading-content{
        display: none;
    }
    .my-account .collection-mainarea{
        padding-left: 0;
        padding-right: 0;
        margin-top: 15px;
    }
    .my-account .form-date .row .col-xs-3:first-child{
        padding-left: 0;
    }
    .my-account .form-date .row .col-xs-6{
        padding-right: 0;
        padding-left: 0;
    }
    .my-account .form-date .row .col-xs-3:last-child{
        padding-right: 0;
    }
}

.order-detail-table {
    border: 1px solid #e5e5e5;
    width: 100%;
}
.order-detail-table > thead > tr > th, .order-detail-table > tbody > tr > td {
    border: 1px solid #e5e5e5;
    vertical-align: top;
    padding: 10px;
}
.order-detail-table .product-image {
    float: left;
    width: 10%;
    text-align: center;
    margin-right: 5%;
}
body .account-content .account-content-inner #customer-account{
    background: none;
}

/*checkout*/
.checkout .container {
    background-color: white;
    max-width: 900px;
}
.checkout .container .alert{
    margin-top: 15px;
}
/*.checkout .container .row { margin: 0 !important; }
.checkout .container .row .page-title {
    border-bottom: 1px solid #ccc !important;
    padding-left:0;
    margin-top: 15px;
    margin-bottom: 15px;
}*/
.cart-step {
    font-size: 1.6vw;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: #333;
    font-weight: 200;
}
.cart-step ul {
    -moz-box-pack: justify;
    display: flex;
    justify-content: space-between;
    list-style: outside none none;
    margin: 0;
    padding: 10px 15px;
}
.cart-step li {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
}
.cart-step .active {
    color: #97C23C;
    font-weight: bold;
}

.cart-title{
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-content.checkout{
    margin-top: 45px;

}
.cart-item{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid transparent;
    border-bottom-color: #eee;
    padding: 15px 0;
    font-weight: 100;
    width: 100%;
}
.cart-item:last-child {
    border-bottom: 0;
}
.cart-item-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.cart-item .item-image{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 150px;
}
.cart-item .item-image img{
    width: 140px;
}
.cart-item .item-desc{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.cart-item .item-name{
    font-weight: 500;
}
.cart-item .cart-line,
.cart-shipping .cart-line{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.cart-item .cart-line .option,
.cart-shipping .product-option{
    margin-right: 10px;
    color: #888;
    font-size: 10px;
    border-radius: 3px;
    border: 1px solid #b8b6bf;
    display: inline-block;
    padding: 0px 3px;
    color: #888;
}
.cart-item .cart-line .info,
.cart-shipping .product-info{
    margin-right: 10px;
    color: #888;
    font-size: 10px;
}
.cart-item .cart-line .divider{
    display: block;
    width: 1px;
    height: 10px;
    margin-top: 3px;
    margin-right: 10px;
    background: #b8b6bf;
    content: '';
}
.cart-item-right{
    width: 400px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.cart-price{
    font-size: 14px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cart-price span{
    margin: 0 10px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.cart-price input{
    margin: -15px 0 0;
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 8px 10px;
}
.cart-price span.total{
    font-weight: 500;
}
.cart-price span.delete a{
    color: red;
}

.cart-footer{
    margin-top: 20px;
    border-top: 3px solid #ddd;
}
.cart-footer .total,
.cart-footer .action{
    width: 100%;
    margin: auto;
    position: relative;
    display: -webkit-box;
    display: flex;
}
.cart-footer .total{
    border-bottom: 1px solid #f2f2f2;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 0;
}
.cart-footer .total span:first-child{
    margin-right: 10px;
    font-size: 14px;
}
.cart-footer .total span:last-child{
    font-size: 24px;
    color: red;
    font-weight: 500;
}
.cart-footer .action{
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 0;
}

.checkout .address,
.checkout .payment{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0;
    width: 100%;
}
.checkout .left{
    width: 100%;
    margin-right: 20px;
}
.checkout .right{
    width: 300px;
}
.checkout .address .left .header{
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    width: 100%;
    margin: auto;
    position: relative;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.checkout .header .title{
    font-size: 18px;
    font-weight: 400;
}
.checkout .body{
    margin-top: 20px;
}
.checkout .right .header{
    width: 100%;
}
.checkout .cart-summary.right{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.checkout .cart-summary .header{
    text-align: center;
}
.checkout .cart-summary .cart-item-left{
    width: 70px;
}
.checkout .cart-summary .cart-item-right{
    width: 100%;
    flex-shrink: inherit;
    display: block;
}
.checkout .cart-summary .cart-item .item-image{
    width: 70px;
}
.checkout .cart-summary .cart-item .cart-image img{
    width: 60px;
}
.checkout .cart-summary .cart-price{
    font-size: 12px;
}
.checkout .cart-summary .cart-price span.x{
    font-weight: 500;
}

.checkout .shipping .cart-item .cart-line .info{
    display: inline-block;
}
.checkout .shipping .cart-item-right{
    width: 300px;
}
.checkout .shipping .cart-item-right .shipment{
    width: 100%;
}
.checkout .shipping .cart-item-right .shipment select{
    height: 30px !important;
    font-size: 12px !important;
    padding: 5px 10px;
}

.checkout .payment .right{
    width: 400px;
}
.checkout .payment .cart-summary .cart-item-left{
    width: 100%;
}
.checkout .purchase-summary {
    font-size: 13px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.checkout .purchase-summary li {
    padding: 4px 0px;
    border-bottom: 1px solid #fff;
}
.checkout .purchase-summary .summary-title {
    vertical-align: top;
    text-align: left;
    font-size: 13px;
}
.checkout .purchase-summary li span {
    width: 49.5%;
    display: inline-table;
    vertical-align: middle;
    line-height: 14px;
    font-size: 13px;
}
.checkout .purchase-summary .summary-amount {
    text-align: right;
}
.checkout .purchase-summary .summary-amount p {
    word-break: break-word;
    word-wrap: break-word;
}


.review .product-image{
    float: left;
    width: 15%;
    text-align: center;
    margin-right: 5%;
}

.payment-method-block{background:white none repeat scroll 0 0;border:3px solid #ddd;display:inline-block;margin:0 -3px -3px 0;position:relative;vertical-align:top;padding:0; width: 100%;
}
.payment-method-block label{display:block;cursor:pointer;padding:10px 25px;}
.payment-method-block::after{-moz-box-align:center;-moz-box-pack:center;align-items:center;background:#ddd none repeat scroll 0 0;color:white;content:"\2714";display:flex;font-family:fontawesome;height:25px;justify-content:center;position:absolute;right:0;top:0;width:25px;}
.payment-method-block-active{border-color:#97C23C;z-index:2;}
.payment-method-block-active::after{background:#97C23C none repeat scroll 0 0;color:white;content:'\2714';}
.payment-method-detail input[type="radio"]{cursor:pointer;opacity:0;position:absolute;}
.payment-method-title{font-size:14px;line-height:24px;}
.payment-method-subtitle{color:#999;font-weight:300;}
.payment-method-block-active .payment-method-content-title{color:#fc411d;}
.payment-method-content-discount{font-size:14px;margin-top:15px;text-decoration:line-through;color:#c5282f}
.payment-method-content{color:#97C23C;font-size:18px;margin-top:2px;}

.checkout .finish{
    margin-top: 45px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    font-size: 14px;
}
.checkout .finish-header{
    padding: 15px;
}
.checkout .finish-header h2{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 500;
}
.checkout .finish hr{
    margin: 12px 0;
}
.checkout .finish-subheader{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 22px;
}
.checkout .finish-amount{
    font-size: 27px;
    color: red;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.checkout .finish .detail-bank{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    background: #f5f5f5;
    border: 1px solid #eee;
    margin-top: 5px;
    margin-bottom: 10px;
}
.checkout .finish .list-bank{
    display: block;
    width: 100%;
    text-align: center;
}
.checkout .finish .list-bank .detail-bank{
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
}
.checkout .finish-detail{
    background: #f7f7f7;
    border-top: 1px dashed #cbcbcb;
    padding: 15px;
}
.checkout .finish-detail .items{
    margin-top: 5px;
    font-size: 12px;
    border-bottom: 1px solid #2c2b2e;
}
.checkout .finish-detail .item{
    display: -webkit-box;
    display: flex;
    padding: 10px;
}
.checkout .finish-detail .item-left{
    width: 72%;
}
.checkout .finish-detail .item-right{
    margin-left: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
}
.checkout .finish-detail .item:nth-child(odd){
    background: #eaeaea;
}
.checkout .finish-footer{
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.checkout .finish-footer a{
    background-color: #97C23C;
    border-color: #97C23C;
}
@media (max-width: 767px){
    .cart-step{
        display: none;
    }
    .cart-title{
        display: block;
    }
    .cart-content.checkout{
        margin-top: 0;
    }
    .cart-item{
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .cart-item-left{
        width: auto;
    }
    .cart-item .item-image{
        width: 80px;
    }
    .cart-item .item-image img{
        width: 70px;
    }
    .cart-item-right{
        width: 100% !important;
        padding-top: 10px;
    }
    .cart-price{
        -ms-flex-flow: row  nowrap;
        flex-flow: row nowrap;
        font-size: 12px !important;
    }
    .cart-price input{
        padding: 3px 8px;
        font-size: 12px;
    }
    .cart-price span.delete{
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-right: auto;
    }
    .checkout .address .cart-summary{
        display: none;
    }
    .checkout .payment{
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .checkout .payment .left{
        width: auto;
        margin-right: 0;
    }
    .checkout .payment .right .header{
        margin-top: 15px;
        border-top: 1px solid #ddd;
    }
    .checkout .payment .cart-summary .cart-item{
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        padding: 5px 0;
    }
    .payment-method-block label{
        padding: 6px 25px;
    }
    .checkout .finish{
        width: calc(100% - 20px);
        font-size: 12px;
    }
    .checkout .finish-header h2{
        font-size: 18px;
    }
    .checkout .finish-header .row .col-xs-6:first-child{
        padding-left: 0;
    }
    .checkout .finish-header .row .col-xs-6:last-child{
        padding-right: 0;
    }
    .checkout .finish-amount{
        font-size: 20px;
    }
    .checkout .finish .detail-bank{
        width: 100%;
    }
    .checkout .finish .detail-bank img{
        width: 128px;
    }
    hr{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}


.product .product-title a{
    font-size: 13px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    max-width: 100%;
    height: 39px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.product span.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    display: block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.order-detail ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.order-detail ul li{
    margin-bottom: 3px;
    font-size: 0;
}
.order-detail ul li:last-child{
    border-top: 1px solid #333;
    font-weight: bold;
    padding-top: 7px;
}
.order-detail ul li span{
    display: inline-block;
    width: 49%;
    text-align: left;
    vertical-align: middle;
    font-size: 13px;
}
.order-detail ul li .leftside{
    text-align: left;
}
.order-detail ul li .rightside{
    text-align: right;
}
header section.main-header .nav-top .nav-search form.search{
    padding-right: 0;
}
#form-address .cart-content h1{
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}
#form-address .cart-content .action{
    padding: 20px;
}
#form-address .cart-content .action .btn{
    width: 100%;
    color: #fff;
    background-color: #000;
}
#search_suggest {
    display: none;
    position: absolute;
    background: #fff;
    color: #000;
    width: 100%;
    padding: 10px;
    border-left: 5px solid #a0c152;
    border-right: 1px solid #A0C152;
    border-bottom: 1px solid #a0c152;
    left: -5px;
    top: 36px;
    z-index: 10;
}
#search_suggest a {
    display: block;
    padding: 5px;
}
.product-type select{
    width: 30%;
}
.my-account .block{
    background-color: #fff;
    padding: 25px 15px;
}
#review.my-account .panel-heading{
    background-color: #222;
    color: #fff;
}
.review .col-sm-7{
    border-left: 1px solid #ddd;
}

.rating {
    display: inline-block;
}
.rating input.star { display: none; }

.rating label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

.rating input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

.rating input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

.rating input.star-1:checked ~ label.star:before { color: #F62; }

.rating label.star:hover { transform: rotate(-15deg) scale(1.3); }

.rating label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
.product-price .grochire{
    color: #5c5b5f;
}
.product-price .grochire b{
    font-weight: bold;
    color: #000;
}
.product-price .grochire #view-list-grochire{
    margin-left: 10px;
}
.popover .table{
    margin-bottom: 0;
}
.link{
    color: #97C23C;
}
.link:hover,
.link:focus{
    color: #97C23C;
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
    text-decoration: underline;
    font-weight: bold;
}

.my-account hr{
    margin: 12px 0;
}
.my-account .panel{
    margin-bottom: 36px;
    border-radius: 0;
    display: block;
    background-color: #fff;
}
.my-account .panel-heading{
    border-radius: 0;
}
.my-account span{
    display: block;
}
.my-account span.label{
    display: inline;
}
.my-account .panel-heading{
    padding: 18px 24px;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}
.my-account .header-label{
    font-size: 12px;
    color: #999;
}
.my-account a.detail{
    border: 1px solid #97C23C;
    color: #97C23C;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.4;
    float: right;
}
.my-account a.detail:hover,
.my-account a.detail:active{
    background-color: #97C23C;
    color: #fff;
}
.my-account .panel-body{
    padding: 18px;
}
.my-account#history .panel-body .row{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.my-account#history .panel-body .row:last-child{
    border-bottom: 0;
}
.my-account .panel-body .product{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}
.my-account .panel-body .product .image{
    width: 36px;
    display: inline-block;
}
.my-account .panel-body .product .image a{
    border: 1px solid #eee;
    display: block;
    height: 36px;
    width: 36px;
}
.my-account .panel-body .product .name{
    width: calc((100% - 36px) - 6px);
    display: inline-block;
    padding-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    word-break: break-all;
    white-space: nowrap;
    font-size: 12px;
    line-height: 22px;
}
.my-account .form-verification span{
    display: inline-block;
}
.order-info-label,
.payment-instruction-label{
    color: #999;
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
}
.order-info-content,
.payment-instruction-content{
    color: #333;
    font-size: 13px;
    line-height: 1.3;
}
.order-info-content dl{
    text-align: right;
    list-style: none;
    margin: 0;
}
.order-info-content dl dt{
    text-align: left;
    float: left;
    clear: left;
    font-weight: normal;
}
.order-info-content dl dd{
    margin-bottom: 6px;
}
.order-invoice{
    border: 1px solid #eee;
    margin-bottom: 18px;
    display: block;
}
.order-invoice-header{
    display: table;
    border-collapse: collapse;
    width: 100%;
    background-color: #fafafa;
}
.order-invoice-header-cell{
    display: table-cell;
    border-right: 1px solid #eee;
    padding: 12px;
    width: 50%;
}
.order-invoice-header-cell:last-child,
.order-invoice-shipping-cell:last-child{
    border-right:none;
}
.order-invoice-product{
    background-color: #fafafa;
    border-top: 1px solid #eee;
    padding: 12px;
    padding-bottom: 0;
    display: block;
    width: 100%;
}
.order-invoice-product .row{
    padding-bottom: 12px;
}
.order-invoice-product .product-image{
    border: 1px solid #eee;
}
.order-invoice-product .product-name{
    width: 100%;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    word-break: break-all;
    white-space: nowrap;
}
.order-invoice-product .product-detail span{
    display: block;
    color: #999;
    font-size: 10px;
    line-height: 1.3;
}
.order-invoice-product .product-detail .product-info{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.order-invoice-product .product-detail .product-info .product-option{
    margin-right: 10px;
    color: #888;
    font-size: 10px;
    border-radius: 3px;
    border: 1px solid #b8b6bf;
    display: inline-block;
    padding: 0px 3px;
    color: #888;
}
.order-invoice-product .product-detail .product-info .divider{
    display: block;
    width: 1px;
    height: 10px;
    margin-top: 3px;
    margin-right: 10px;
    background: #b8b6bf;
    content: '';
}
.order-invoice-product .product-detail .product-info div{
    margin-right: 10px;
    color: #888;
    font-size: 10px;
}
.order-invoice-detail{
    padding: 12px;
    border-top: 1px solid #eee;
    display: block;
    width: 100%;
}
.order-invoice-shipping{
    border-top: 1px solid #eee;
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.order-invoice-shipping-cell{
    width: 33.33333%;
    display: table-cell;
    border-right: 1px solid #eee;
    padding: 12px;
}
.payment-instruction.panel{
    margin-bottom: 18px;
}
.payment-instruction .alert{
    margin-bottom: 0;
}
.payment-instruction .panel-heading{
    border-bottom-style: dotted;
}
.payment-instruction .panel-body{
    background-color: #fafafa;
}
.payment-instruction .list-bank{
    display: block;
    width: 100%;
    text-align: center;
}
.payment-instruction .list-bank .detail-bank{
    width: 50%;
    border: 1px solid #eee;
    background-color: #fff;
    padding-bottom: 18px;
    padding-top: 18px;
    margin: 0 auto;
    text-align: center;
}
.payment-instruction-sub{
    border: 1px solid #eee;
    margin: 0 !important;
}
.payment-instruction-sub .panel-heading,
.payment-instruction-sub .panel-body{
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.payment-instruction-sub .panel-title{
    font-size: 14px;
}
.payment-instruction-sub .step-info-column-number {
    float: left;
    width: 9%;
    min-width: 35px;
}
.payment-instruction-sub .textbox-circle-outer-green {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 0.8px solid #1ace9b;
}
.payment-instruction-sub .textbox-circle-green {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #1ace9b;
    margin: 2px 0 0 2px;
}
.payment-instruction-sub .textbox-circle-num {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    line-height: 22px;
}
.payment-instruction-sub .step-info-column-text {
    float: left;
    width: 91%;
    max-width: 450px;
    padding-left: 10px;
}
.payment-instruction-sub .description-step-info {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-align: left;
    color: #424242;
    margin: 4px 0 0;
}

.badge{
    min-width: 18px;
    height: 18px;
    margin-left: -5px;
    margin-bottom: -3px;
    background-color: #f2300c;
    font-weight: 100;
    padding: 3px;
    text-align: center;
    color: #fff;
}
.badge-cart{
    color: #97C23C !important;
    background-color: #fff;
}
.badge-notification{
    float: right;
    margin-top: 3px;
}
.badge-notification:hover{
    color: #fff !important;
}

.notification .alert{
    padding: 12px 16px;
    margin-bottom: 0;
}

#wishlist .delete{
    display: block;
    text-align: center;
}
#wishlist .delete a{
    color: #f2300c;
}
#wishlist .delete a:hover{
    color: #000;
}

#history .nav-tabs{
    margin-bottom: 20px;
    /*box-shadow: inset 0 0 0 2px #d6d6d6;*/
    background-color: #fff;
}
#history .nav-tabs.nav-justified>li>a{
    border-radius: 0;
    border: none;
}
#history .nav-tabs>li.active>a{
    background-color: #97C23C;
    color: #fff;
    border-radius: 0;
    border: none;
}
#history .nav-tabs>li>a:hover{
    border: none;
    border-radius: 0;
    background-color: inherit;
    color: #97C23C;
}
#history .nav-tabs>li.active>a:hover{
    border: none;
    border-radius: 0;
    background-color: #97C23C;
    color: #fff;
}
#history .nav-tabs>li>a>span.notification{
    padding: 0;
    font-size: 10px;
    background-color: #97C23C;
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 16px;
    border-radius: 50%;
    text-align: center;
    margin-left: 5px;
    vertical-align: top;
}
#history .nav-tabs>li.active>a>span.notification{
    background-color: #fff;
    color: #97C23C;
}

.pagination>li>a{
    border-radius: 0 !important;
    color: #222;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover{
    border-color: #97C23C;
    background-color: #97C23C;
}

.product:hover .product-price .price,
.product:hover .product-price .price_sale,
.product:hover .product-title a{
    color: #97C23C;
}
.product .product-title a:hover{
    color: #97C23C;
}

.panel{
    border-radius: 0;
}
.main-content{
    margin-bottom: 15px;
}

#login .nav>li{
    font-size: 16px;
    border-bottom: 1px solid #eee;
}
#login .nav>li.active{
    font-size: 16px;
    color: #97C23C;
    border-bottom: 1px solid #97C23C;
}
#login .nav>li>a{
    border: none;

}
#login .nav>li.active>a{
    color: #97C23C;
    border-bottom: 1px solid #97C23C;
}
#login .nav>li>a:hover{
    background: none !important;
}
#login .half{
    width: 50%;
    display: inline-block;
    float: left;
}
#login .half .btn{
    width: 100%;
}

.footer_bank img{
    max-height: 20px;
    margin-right: 3px;
}

#address .collection-mainarea .col-sm-6{
    padding-left: 0;
    padding-right: 0;
}
#address .collection-mainarea .col-sm-6 .panel{
    margin-right: 10px;
}
#address .panel-footer{
    text-align: right;
    border-radius: 0;
    background-color: #fff;
    border-top: 0;
}
#address .panel-footer a{
    margin-right: 10px;
    color: #97c23d;
}

@media (max-width: 767px){
    .my-account .panel{
        margin-bottom: 20px;
    }
    #history .panel .col-xs-12,
    #detail-order .panel .col-xs-12{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
    }
    .my-account .row .col-xs-12{
        padding-left: 0;
        padding-right: 0;
    }
    .payment-instruction .panel-heading,
    .payment-instruction .panel-body,
    #review .panel-body.review,
    #address .panel-heading,
    #address .panel-body,
    #address .panel-footer{
        padding: 10px;
    }
    .payment-instruction .alert{
        padding: 10px;
        font-size: 12px;
    }
    .payment-instruction .panel-heading .col-xs-*{
        padding-left: 0;
        padding-right: 0;
    }
    .payment-instruction .list-bank .detail-bank{
        width: 100%;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


@media (max-width: 1199px){
    .footer_bank {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
.footer_copyright{
    width: 100% !important;
    margin-top: 20px;
}


/*add to cart from category*/
.collection-items .product-item .product .add-to-cart{
    width: 100%;
    padding: 8px 20px;
}
@media (max-width:1199px){
    .product .hover-mask{
        width: 100%;
        position: absolute;
        top: 78%;
        margin-top: 0;
    }
}

.modal{
    z-index: 1000000000 !important;
}

.ma-shop,
header section.main-header .nav-top .ma-shop form.search .search_submit {
    background-color: #4C4A3F !important;
}

.group-search-cart .ma-shop {
    border-color: #4C4A3F !important;
}

.nav-logo img {
    max-width: 250px;
    max-height: 67px;
}
.link-ma-shop {
    /* color: #799E30; */
}

#home_main-banner {
    width: 100%;
    max-height: 40rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#hot-promo {
    margin-top: 3.5%;
}

#home_main-banner a img {
    max-height: 40rem;
}

#home_main-banner a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    z-index: 9;
    border-top: 1px solid rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(255,255,255,0.8);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -ms-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

#home_main-banner a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    z-index: 9;
    border-left: 1px solid rgba(255,255,255,0.8);
    border-right: 1px solid rgba(255,255,255,0.8);
    -ms-transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -ms-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

#home_main-banner a:hover:after,
#home_main-banner a:hover:before {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

#home_main-banner a:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$var2)";
}

#home_main-banner a:hover {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-filter: brightness(0.95);
    filter: brightness(0.95);
}

#brand-banner .home-brand-inner .home-brand-header,
.index-section .home-content-inner .home-content-header {
    border: unset;
    padding-left: unset;
    display: inline-flex;
}
.index-section .home-content-inner .home-content-header .home-content-title {
    /*margin-bottom: 2rem;*/
}

#brand-banner .home-brand-inner .home-brand-header .home-brand-title h4,
.index-section .home-content-inner .home-content-header .home-content-title h4{
    border: unset;
    font-size: 16px;
    /*margin: 5px 10px;*/
    color: #97C23C;
    font-weight: 700;
    /*padding: 1rem;*/
}
.index-section .home-content-inner .home-content-header .home-content-title a {
    color: #CCCCCC;
    text-align: left;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    padding: 1rem;
}

@media (max-width: 991px) {
    .index-section .home-content-inner .home-content-header > a,
    .index-section .home-brand-inner .home-brand-header > a {
        position: absolute;
        top: auto;
    }
}

.index-section .home-content-inner .home-content-header .home-content-title a.active {
    color: #97C23C;
    border-bottom: 2px solid #97C23C;
}

#brand-banner .home-brand-inner .home-brand-header a,
.index-section .home-content-inner .home-content-header a {
    text-align: right;
    vertical-align: middle;
    margin: auto;
    float: right;
    padding-right: 0;
}

#brand-banner .home-brand-inner .home-brand-header > a,
.index-section .home-content-inner .home-content-header > a {
    border-left: unset;
}

#brand-banner .home-brand-inner .responsive a {
    max-height: 5rem;
    width: 2rem;
    margin: auto 10px;
    padding: auto 10px;   
}

#brand-banner .home-brand-inner .responsive > * {
    vertical-align: middle;
}

.product-detail-content #product-information .title {
    margin-bottom: 5px !important;
    font-size: 22px;
}

.index-section-proban .product .rating-star {
    display: initial !important;
}

body.index-template .product .rating-star {
    display: initial !important;
}

#share-buttons {
    margin-top: 10px;
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    #jssocial {
        float: left !important;
    }
}
@media (min-width: 767px) {
    #jssocial {
        float: right !important;
    }
}

.jssocials-shares {
    font-size: 8px;
    display: flex;
    height: auto;
}

a.jssocials-share-link {
    border-radius: 50%;
    margin-left: 3px;
}

a.jssocials-share-link * {
    width: 12px;
    height: 12px;
    text-align: center;
    margin: unset;
}

.jssocials-share-email .jssocials-share-link {
    background-color: #A0A0A0 !important;
}

#product-information .variants .product-options span{
    font-size: 13px;
}

.product-detail-content #product-information .rating-star span {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.divider{
    width: 95%;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #EAEAEA;
    display: grid;
}

.product-detail-content #product-information .variants .product-options .product-price {
    margin-bottom: unset;
}

.product-detail-content #product-information .variants .product-options .grochire {
    margin-bottom: 2rem;
}

.product-detail-content #product-information .variants .product-options .product-price .price {
    color: #B7CD69 !important;
    font-weight: bold;
    font-size: 34px;
    outline-color: red;
}

#product-information .variants .product-options .quantity-wrapper {
    margin-top: 12px;
    margin-bottom: 25px;
    padding: unset;
}
#product-information .variants .product-options .quantity-wrapper input[name="qty"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

#product-information .variants .product-options .quantity-wrapper input[name="qty"]::-webkit-inner-spin-button,
#product-information .variants .product-options .quantity-wrapper input[name="qty"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.quantity-field {
    border: 1px solid #DDDDDD;
    display: inline-flex;
    vertical-align: middle;
    margin-left: 2rem;
    height: 3rem;
}

.quantity-field,
.quantity-field * {
    box-sizing: border-box;
}

.quantity-field button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.quantity-field button:before,
.quantity-field button:after {
    display: inline-block;
    position: absolute;/*
    content: '';*/
    width: 1rem;
    height: 1px;
    background-color: #454753;
    transform: translate(-50%, -50%);
}

.quantity-field button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.quantity-field input[type="number"] {
    max-width: 5rem;
    text-align: center;
    padding: .5rem;
    border: solid #DDDDDD;
    border-width: 0 2px;
}

.product-detail-content #product-information .variants .product-options .purchase-section .purchase {
    margin: 0 0 2rem 0;
    padding: 0;
    display: inline;
}

@media (min-width: 480px) {
    #product-information .add-to-wishlist {
        margin-top: -15%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 480px) {
    .product-detail-content #product-information .variants .product-options .purchase-section .purchase button#btn-cart {
        min-width: 100%;
        margin: auto 0;
    }

    .product-detail-content #product-information .variants .product-options .purchase-section .purchase a.btn {
        min-width: 100%;
        margin-left: unset;
    }

    #product-information .add-to-wishlist {
        min-width: 95%;
        margin-bottom: 5%;
    }

    .product-detail-content #product-information .add-to-wishlist a.wish-list {
        min-width: 100%;
    }

    .divider {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    table#table_cek_ongkir thead {
        display: table-row-group;
    }
}

@media (min-width: 767px) {
    .product-detail-content #product-information .variants .product-options .purchase-section .quantity-wrapper {
        width: 100%;
    }

    .product-detail-content #product-information .variants .product-options .purchase-section .purchase #btn-cart {
        max-width: 50%;
    }

    .product-detail-content #product-information .purchase-section .purchase {
        width: 100%;
    }

    .product-detail-content #product-information .variants .product-options .purchase-section .purchase a.btn {
        min-width: 50%;
    }

    .product-detail-content #product-information .variants .product-options .add-to-wishlist {
        margin-top: -6.71rem;
    }
}

.product-detail-content #product-information .variants .product-options .purchase-section .purchase #btn-cart {
    background-color: #A9CE4A;
    color: #FFFFFF;
    font-size: 14px;
    border: unset;
    width: 40%;
    margin-right: 5.5px;
}

.product-detail-content #product-information .variants .product-options .purchase-section .purchase #btn-cart:hover {
    background-color: #8FB431;
}

.product-detail-content #product-information .variants .product-options .purchase-section .purchase a.btn {
    background-color: #615F53;
    color: #FFFFFF;
    font-size: 14px;
    border: unset;
    width: 52.5%;
    height: 48px;
    padding:5px 10px;
    text-align: center;
}

.product-detail-content #product-information .variants .product-options .purchase-section .purchase a.btn:hover {
    background-color: #45443B;
}

a.btn.btn-primary.wish-list {
    background-color: #FFFFFF;
    font-size: 2.5rem;
    vertical-align: middle;
}

.add-to-wishlist {
    max-height: 48px;
    max-width: 48px;
    float: left;
    margin-bottom: unset;
    vertical-align: middle;
    z-index: 1;
}

table#table_cek_ongkir {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
    #tabs-information .information_content table.table-specification {
        width: 50%;
        table-layout: auto;
    }

    #tabs-information .information_content table.table-specification tbody tr td:nth-child(odd) {
        width: 40%;
    }
}