.speech-bubble {
        position: relative;
        background: #95b70b;
        border-radius: .3em;
        color:#fff;
        font-size: 12px;
        text-align: center;
        padding-top: 5px;
        margin-top: 90px;
    }

    /*.speech-bubble:after {
        content: '';
        position: absolute;
        color: #fff;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-bottom-color: #95b70b;
        border-top: 0;
        margin-left: 30px;
        margin-top: -15px;
    }*/
    .checkout .container {
        max-width: 100%;
    }
    .checkout .container .finish {
        width: 70%;
        margin-right: 0;
        margin-left: 15px;
        margin-top: 0;
        padding: 20px;
        border:1px solid #CCC;
        border-radius: 3px;
        display: inline-block;
    }
    .checkout .container .finish .text-right {
        text-align: left;
    }
    .checkout .container .finish .order-info-content-code {
        font-weight: bold;
        color: #a7c22a;
    }
    .checkout .finish-detail .item:nth-child(odd) {
        background: none;
    }
    .checkout .container .finish .finish-detail {
        border: 1px solid #CCC;
        background: #F3F3f3;
        border-radius: 3px;
        padding: 20px;
    }
    .checkout .container .finish .finish-detail .finish-detail-title {
        text-align: left;
        font-weight: bold;
        color: #777;
        font-size: 15px;
    }
    .checkout .finish-detail .item {
        padding: 5px 0;
        color: #777;
    }
    .checkout .finish-detail hr {
        border-bottom: 1px solid #CCC;
    }
    .checkout .finish-detail .items {
        border-bottom: none;
    }
    .checkout .finish .total_paid .total_paid_head {
        font-size: 18px;
        color: #777;
        font-weight: bold;
    }
    .checkout .finish .total_paid .total_paid_price {
        color: #D9534F;
        font-size: 20px;
        font-weight: bold;
    }
    .checkout .finish .total_paid .total_paid_price span a {
        font-size: 13px;
        color: #777;
        font-weight: normal;
        margin-left: 10px;
    }
    .checkout .finish .total_paid .total_paid_price span a:hover {
        color: black;
    }
    .checkout .container .finish .message_transfer {
        display: block;
        border: 1px solid #d9534f;
        padding: 10px;
        border-radius: 3px;
        margin-top: 30px;
        text-transform: uppercase;
        background: #F8D7DB;
    }
    .checkout .container .finish .message_transfer .message_transfer_title {
        color: #d9534f;
        font-weight: bold;
        font-size: 14px;
    }
    .checkout .container .finish .message_transfer ul li {
        list-style: square;
    }
    .checkout .container .finish .message_transfer ul {
        margin-left: 18px;
        font-size: 13px;
    }
    .checkout .finish-header h2 {
        color: #555;
        font-weight: 550;
    }
    .checkout .container .finish .transfer_finish_detail {
        margin-top: 30px;
        color: #555;
    }
    .checkout .container .finish .transfer_finish_detail .payment_finish_bottom {
        display: block;
        width: 100%;
        margin-top: -25px;
    }
    .checkout .container .finish .transfer_finish_detail .payment_finish_bottom img {
        display: inline-block;
        margin-top: 40px;
    }
    .checkout .container .finish .transfer_finish_detail .payment_finish_bottom .payment_finish_bottom_keterangan {
        display: inline-grid;
    }
    .checkout .container .finish .transfer_finish_detail .payment_finish_bottom .payment_finish_bottom_keterangan span {
        display: block;
    }
    .checkout .container .finish .payment_status_class {
        display: block;
        text-align: left;
        margin-top: 30px;
    }
    .checkout .container .finish .payment_status_class .alert {
        border-radius: 3px;
    }
    .checkout .container .buttons_payment {
        width: 20%;
        display: inline-block;
    }
    .checkout .container .buttons_payment .btn {
        display: block;
        width: 300px;
        margin-bottom: 15px;
        border:1px solid #a7c22a;
        background: white;
        color: #a7c22a;
        border-radius: 3px;
        transition: .3s;
        font-weight: bold;
    }
    .checkout .container .buttons_payment .btn:hover{
        background: #a7c22a;
        color: white;
    }
    .checkout .container .buttons_payment .btn_confirm_transfer {
        background: #a7c22a !important;
        color: white;
    }
    .checkout .container .buttons_payment .btn_confirm_transfer:hover {
        background: #8ea81b !important;
        border-color:#8ea81b;
    }
    .checkout .container .finish .order-info-content-code a:hover {
        text-decoration: underline;
    }
    .checkout .container .finish .payment_finish_bottom_keterangan a {
        font-size: 13px;
        color: #777;
        font-weight: normal;
        margin-left: 10px;
    }
    .checkout .container .finish .payment_finish_bottom_keterangan a:hover {
        color: black;
    }
    .checkout .container .finish .finish-middle {
        display: block;
        margin-top: 30px;
    }
    .checkout .container .finish .finish-middle .total_paid {
        display: inline-block;
        width: 50%;
    }
    .checkout .container .finish .finish-middle .transfer_news {
        display: inline-block;
        width: 45%;
    }
    .checkout .container .finish .finish-middle .transfer_news .transfer_news_title {
        font-size: 18px;
        color: #777;
        font-weight: bold;
    }
    .checkout .container .finish .finish-middle .transfer_news .transfer_news_code {
        color: #a7c22a;
        font-size: 20px;
        font-weight: bold;
    }
    .checkout .container .finish .finish-middle .transfer_news .transfer_news_code span a {
        font-size: 13px;
        color: #777;
        font-weight: normal;
        margin-left: 10px;
    }
    .checkout .container .finish .finish-middle .transfer_news .transfer_news_code span a:hover {
        color: black;
    }
    #modal-payment .modal-content {
        border-radius: 5px;
        border:none;
    }
    #modal-payment .modal-content .modal-header .modal-title {
        font-weight: bold;
    }
    #modal-payment .modal-content .modal-body select, #modal-payment .modal-content .modal-body input, #modal-payment .modal-content .modal-body textarea {
        border-radius: 3px;
    }
    #modal-payment .modal-content .modal-footer .btn {
        border-radius: 3px;
        transition: .3s;
    }
    #payment-instruction-modal .modal-content {
        border-radius: 5px;
        border:none;
    }
    .checkout .finish-header {
        padding: 15px 3px;
    }

    /* MOBILE CSS */
    .checkout .container .finish_mobile {
        width: 100%;
        margin-right: 0;
        margin-top: 0;
        padding: 20px;
        border:1px solid #CCC;
        border-radius: 3px;
        display: inline-block;
    }
    .checkout .container .finish_mobile .text-right {
        text-align: left;
    }
    .checkout .container .finish_mobile .order-info-content-code {
        font-weight: bold;
        color: #a7c22a;
        text-decoration: underline;
    }
    .checkout .finish_mobile .finish-detail .item:nth-child(odd) {
        background: none;
    }
    .checkout .container .finish_mobile .finish-detail {
        border: 1px solid #CCC;
        background: #F3F3f3;
        border-radius: 3px;
        padding: 20px;
    }
    .checkout .container .finish_mobile .finish-detail .finish-detail-title {
        text-align: left;
        font-weight: bold;
        color: #777;
        font-size: 15px;
    }
    .checkout .finish_mobile .finish-detail .item {
        padding: 5px 0;
        color: #777;
    }
    .checkout .finish_mobile .finish-detail hr {
        border-bottom: 1px solid #CCC;
    }
    .checkout .finish_mobile .finish-detail .items {
        border-bottom: none;
    }
    .checkout .finish_mobile .finish-middle .total_paid {
        display: inline-block;
        width: 50%
    }
    .checkout .finish_mobile .total_paid .total_paid_head {
        font-size: 15px;
        color: #777;
        font-weight: bold;
    }
    .checkout .finish_mobile .total_paid .total_paid_price {
        color: #D9534F;
        font-size: 17px;
        font-weight: bold;
    }
    .checkout .finish_mobile .total_paid .total_paid_price span a {
        font-size: 12px;
        color: #777;
        font-weight: normal;
        margin-left: 10px;
    }
    .checkout .finish_mobile .total_paid .total_paid_price span a:hover {
        color: black;
    }
    .checkout .finish_mobile .finish-middle .transfer_news {
        display: inline-block;
    }
    .checkout .container .finish_mobile .finish-middle .transfer_news .transfer_news_title {
        font-size: 15px;
        color: #777;
        font-weight: bold;
    }
    .checkout .container .finish_mobile .finish-middle .transfer_news .transfer_news_code {
        color: #a7c22a;
        font-size: 17px;
        font-weight: bold;
    }
    .checkout .container .finish_mobile .finish-middle .transfer_news .transfer_news_code span a {
        font-size: 12px;
        color: #777;
        font-weight: normal;
        margin-left: 10px;
    }
    .checkout .container .finish_mobile .message_transfer {
        display: block;
        border: 1px solid #d9534f;
        padding: 10px;
        border-radius: 3px;
        margin-top: 30px;
        text-transform: uppercase;
        background: #F8D7DB;
    }
    .checkout .container .finish_mobile .message_transfer .message_transfer_title {
        color: #d9534f;
        font-weight: bold;
        font-size: 13px;
    }
    .checkout .container .finish_mobile .message_transfer ul li {
        list-style: square;
    }
    .checkout .container .finish_mobile .message_transfer ul {
        margin-left: 18px;
        font-size: 12px;
    }
    .checkout .finish_mobile .finish-header h2 {
        color: #555;
        font-weight: 550;
    }
    .checkout .container .finish_mobile .transfer_finish_detail {
        margin-top: 30px;
        color: #555;
    }
    .checkout .container .finish_mobile .transfer_finish_detail .payment_finish_bottom {
        display: block;
        width: 100%;
        margin-top: -25px;
    }
    .checkout .container .finish_mobile .transfer_finish_detail .payment_finish_bottom img {
        display: inline-block;
        margin-top: 40px;
    }
    .checkout .container .finish_mobile .transfer_finish_detail .payment_finish_bottom .payment_finish_bottom_keterangan {
        display: inline-grid;
    }
    .checkout .container .finish_mobile .transfer_finish_detail .payment_finish_bottom .payment_finish_bottom_keterangan span {
        display: block;
    }
    .checkout .container .finish_mobile .payment_status_class {
        display: block;
        text-align: left;
        margin-top: 30px;
    }
    .checkout .container .finish_mobile .payment_status_class .alert {
        border-radius: 3px;
    }
    .checkout .container .finish_mobile .finish-middle {
        margin-top: 30px;
        padding: 0 5px;
    }

    .checkout .container .buttons_payment_mobile {
        width: 100%;
        display: block;
        margin-top: 30px;
    }
    .checkout .container .buttons_payment_mobile .btn {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        border:1px solid #a7c22a;
        background: white;
        color: #a7c22a;
        border-radius: 3px;
        transition: .3s;
        font-weight: bold;
    }
    .checkout .container .buttons_payment_mobile .btn:hover{
        background: #a7c22a;
        color: white;
    }
    .checkout .container .buttons_payment_mobile .btn_confirm_transfer {
        background: #a7c22a !important;
        color: white;
    }
    .checkout .container .buttons_payment_mobile .btn_confirm_transfer:hover {
        background: #8ea81b !important;
        border-color:#8ea81b;
    }
    .modal {
      text-align: center;
    }

    @media screen and (min-width: 768px) { 
      .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
    .nav-pills>li>a {
        border : 1px solid #a7c22a;
        margin-right: 10px;
        color: #a7c22a;
    }
    .nav-pills>li>a:hover {
        background: #a7c22a;
        color: #fff;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        background-color: #a7c22a;
    }