// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$carousel-dot-active-opacity: 1  !important;
$carousel-dot-margin: 0 1px !important;
$body-font-family: 'Nunito';


// Required for modifying core defaults
@import '~vuetify/src/styles/styles.sass';