<template> 
<v-card outlined width="100%" :loading="loading"   >
    <v-card-title class="font-weight-bold">
        Keren Keren
    </v-card-title>
    <v-card-text>
        daddsddsa
    </v-card-text>
    <v-card-text>
        alamat jalaann 1v no 4
    </v-card-text>
    <v-card-actions class="mb-1">
        <v-dialog v-model="hapus" >
            <template v-slot:activator="{ on }">
                <v-col cols="3" >
                <v-btn outlined color="#DC3545" block class="font-weight-black" style="font-size:10px;" v-on="on">Hapus</v-btn>
                </v-col>
            </template>
            <v-card>
                <v-card-title class="title" style="word-break: normal;">Anda yakin mau membuang alamat ini?</v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="hapus = false">Tidak</v-btn>
                    <v-btn color="green darken-1" text @click="hapus = false">Iya</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        
        <v-dialog v-model='ubahAlamat' fullscreen hide-overlay transition="slide-x-transition">
        <template v-slot:activator="{ on }">
            <v-col cols="3" >
            <v-btn outlined color="#ABCF2A" block class="font-weight-black" style="font-size:10px;" v-on="on">Ubah</v-btn>
            </v-col>
        </template>
        <v-card>
            <v-toolbar class="app-bar-gradient">
            <v-btn icon dark @click="ubahAlamat = false">
                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-toolbar-title class="font-weight subtitle-1 white--text">Ubah Alamat</v-toolbar-title>
            <v-spacer></v-spacer>
            </v-toolbar>
            <v-row class="mx-3 mt-5">
                <v-col class="mb-0 pb-0">
                    <v-text-field
                    label="Simpan Alamat Sebagai"
                    outlined>
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row class="mx-3">
                <v-col class="mb-0 pb-0" >
                    <v-text-field
                    label="Nama Penerima"
                    outlined>
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row class="mx-3">
                <v-col class="mb-0 pb-0">
                    <v-text-field
                    label="No. Handphone"
                    outlined>
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row class="mx-3">
                <v-col class="mb-0 pb-0" >
                    <v-text-field
                    label="Kode Pos"
                    outlined>
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row class="mx-3">
                <v-col class="mb-0 pb-0">
                    <v-select outlined
                    label="Provinsi">
                    </v-select>
                </v-col>
            </v-row>
            <v-row class="mx-3">
                <v-col class="mb-0 pb-0">
                    <v-select outlined
                    label="Kota">
                    </v-select>
                </v-col>
            </v-row>
                <v-row class="mx-3">
                <v-col class="mb-0 pb-0">
                    <v-select outlined
                    label="Kecamatan">
                    </v-select>
                </v-col>
            </v-row>
            <v-row class="mx-3">
                <v-col class="mb-0 pb-0">
                    <v-textarea outlined
                    auto-grow
                    rows="2"
                    label="Alamat">
                    </v-textarea>
                </v-col>
            </v-row>
            <v-row class="mx-3">
                <v-col class="my-0 py-0">
                    <v-checkbox class="mt-0" label="Jadikan ini alamat utama saya">
                    </v-checkbox>
                </v-col>
            </v-row>
            <v-app-bar
            fixed
            bottom
            elevation="6">
                <v-row>
                <v-col>
                    <v-btn block color="#ABCF2A" class="white--text" >Simpan</v-btn>
                </v-col>
                </v-row>
            </v-app-bar>
        </v-card>
        </v-dialog>
        
        <v-dialog v-model="alamatUtama" >
            <template v-slot:activator="{ on }">
                <v-col cols="6" >
                <v-btn depressed color="#ABCF2A" block class="white--text font-weight-black" style="font-size:10px;float:right;" v-on="on">Alamat Utama</v-btn>
                </v-col>
            </template>
            <v-card>
                <v-card-title class="title" style="word-break: normal;">Jadikan alamat ini sebagai <b>Alamat Utama?</b></v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="alamatUtama = false">Tidak</v-btn>
                    <v-btn color="green darken-1" text @click="alamatUtama = false">Iya</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        
    </v-card-actions>
    </v-card>
</template>

<script>
export default {
    data(){
        return{
           hapus:false,
           alamatUtama:false,
           tambahAlamat:false,
           ubahAlamat:false,
        }
    },
    props:{
        loading: Boolean
    },
    watch: {
      
    },
    methods: {
       
    },
}
</script>

<style scoped>
.v-card--outlined{
    border: 1.3px solid rgba(0, 0, 0, 0.12) !important;
}

</style>>