<template> 
    <v-card outlined width="100%" :loading="loading"   >
        <v-container class="pa-4">
            <v-row>
                <v-col class="pt-0">
                    <b style="color:#ABCF2A" class="font-weight-black body-1">NOMOR INV</b>
                </v-col>
                <v-col class="pt-0">
                    <v-btn v-if="status.status === 'success'" depressed color="#6FCF97" class="white--text" small v-ripple="false" style="float:right">Selesai</v-btn>
                    <v-btn v-else-if="status.status === 'expired'" depressed color="#F48080" class="white--text" small v-ripple="false" style="float:right">Expired</v-btn>
                    <v-btn v-else-if="status.status === 'pending'" depressed color="#F0CE66" class="white--text" small v-ripple="false" style="float:right">Pending</v-btn>
                </v-col>
            </v-row>
            <v-row>
                <v-col class="body-2 pt-0">Agustus 1, 2017</v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
                <v-col class="body-2">
                    Total Pesanan
                </v-col>
                <v-col>
                    <b class="total-pesanan-text body-1">Rp200.000</b>
                </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
                <v-col cols="4" class="pr-0">
                    <v-img :width="imageHeight" class="rounded" src="https://via.placeholder.com/150"></v-img>
                </v-col>
                <v-col cols="7" class="">
                    <v-row style="max-height:45px;overflow:hidden;">
                        <b style="color:black;font-weight:900;font-size:13px;" class="text-truncate">NIKE Air Zoom Pedsddsdsdsdsdddsdsddsdddgasus 36 Miami</b>
                    </v-row>
                    <v-row >
                        <v-col class="caption pt-0 pl-0" style="float:left;text-align:left;">
                            Tokomamamama
                        </v-col>
                         <v-col class="caption pt-0 pr-0" style="float:right;text-align:right;">
                            Qty : 1
                        </v-col>
                    </v-row>
                    <v-row class="body-2">
                        Rp200.000
                    </v-row>
                </v-col>
            </v-row>
            <v-row>
                <v-col class="py-0">
                    <center>
                    <v-btn outlined x-small class="px-7" color="grey" v-if="moreProduct === false" @click="moreProduct = !moreProduct"><span style="color:black;">Lihat 2 produk lagi</span></v-btn>
                    </center>
                    <v-expand-transition>
                        <div v-show="moreProduct">
                            <v-row>
                                <v-col cols="4" class="pr-0">
                                    <v-img :width="imageHeight" class="rounded" src="https://via.placeholder.com/150"></v-img>
                                </v-col>
                                <v-col cols="7" class="">
                                    <v-row style="max-height:45px;overflow:hidden;">
                                        <b style="color:black;font-weight:900;font-size:13px;" class="text-truncate">NIKE Air Zoom Pedsddsdsdsdsdddsdsddsdddgasus 36 Miami</b>
                                    </v-row>
                                    <v-row >
                                        <v-col class="caption pt-0 pl-0" style="float:left;text-align:left;">
                                            Tokomamamama
                                        </v-col>
                                        <v-col class="caption pt-0 pr-0" style="float:right;text-align:right;">
                                            Qty : 1
                                        </v-col>
                                    </v-row>
                                    <v-row class="body-2">
                                        Rp200.000
                                    </v-row>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="4" class="pr-0">
                                    <v-img :width="imageHeight" class="rounded" src="https://via.placeholder.com/150"></v-img>
                                </v-col>
                                <v-col cols="7" class="">
                                    <v-row style="max-height:45px;overflow:hidden;">
                                        <b style="color:black;font-weight:900;font-size:13px;" class="text-truncate">NIKE Air Zoom Pedsddsdsdsdsdddsdsddsdddgasus 36 Miami</b>
                                    </v-row>
                                    <v-row >
                                        <v-col class="caption pt-0 pl-0" style="float:left;text-align:left;">
                                            Tokomamamama
                                        </v-col>
                                        <v-col class="caption pt-0 pr-0" style="float:right;text-align:right;">
                                            Qty : 1
                                        </v-col>
                                    </v-row>
                                    <v-row class="body-2">
                                        Rp200.000
                                    </v-row>
                                </v-col>
                            </v-row>
                            <center>
                                <v-btn outlined x-small class="px-7" color="grey" @click="moreProduct = !moreProduct"><span style="color:black;">Lihat lebih sedikit</span></v-btn>
                            </center> 
                        </div>
                    </v-expand-transition>
                </v-col>
            </v-row>
            <v-row style="float:right;" class="pa-2 pr-0">
                <v-btn text class="" small color="primary" style="text-decoration:underline;" :to="`order-detail/${status.id}`">Lihat Detail</v-btn>
            </v-row>
        </v-container>
    </v-card>
</template>

<script>
export default {
    data(){
        return{
         moreProduct: false
        }
    },
    props:[
        'loading',
        'status'
    ],
    watch: {
      
    },
    methods: {
       
    },
    computed: {
        imageHeight () {
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return '75px'
                case 'sm': return '80px'
                case 'md': return '150px'

            }
        },
    },
}
</script>

<style scoped>
.v-card--outlined{
    border: 1.3px solid rgba(0, 0, 0, 0.12) !important;
}
.total-pesanan-text{
    float:right;color:#27AE60;font-weight:900;
}

</style>>