<template>
    <div>
        <v-container class="pa-0" >
            <v-row class="mt-3 mb-5 pl-2">
                <nuxt-link to="/cart" style="text-decoration:none;">
                    <v-btn icon>
                        <v-icon class="grey--text" style="font-size:36px;">mdi-chevron-left</v-icon>
                    </v-btn>
                </nuxt-link>
                <span class="title font-weight-black pt-1 pl-2">Pengiriman</span>
            </v-row>
        </v-container>
        <v-divider></v-divider>
        
        <!-- Alamat Pengiriman -->
        <v-container>
            <v-row class="">
                <v-col class=" mt-1">
                    <span class="font-weight-black pt-1" style="font-size:17px;">Alamat Pengiriman</span>
                </v-col>
            </v-row>
            <v-row class="pl-3 pr-3">
                <v-card outlined width="100%" :loading="loading">
                    <v-row>
                        <v-col class="py-0">
                            <v-card-title class="font-weight-bold" >
                                Keren Keren
                            </v-card-title>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="10" class="py-0">
                            <v-card-text >
                                daddsddsa
                            </v-card-text>
                        </v-col>

                        <v-dialog v-model='shipping_address' fullscreen hide-overlay transition="slide-x-transition">
                            <template v-slot:activator="{ on }">
                                <v-col cols="2" class="py-0 pt-2">
                                    <div style="display:inline-block;position:relative;margin-top:auto;margin-bottom:auto;">
                                        <v-icon class="grey--text" style="font-size:32px;" v-on="on">mdi-chevron-right</v-icon>
                                    </div>
                                </v-col>
                            </template>
                            <v-card>
                                <v-toolbar class="app-bar-gradient">
                                <v-btn icon dark @click="shipping_address = false">
                                    <v-icon>mdi-chevron-left</v-icon>
                                </v-btn>
                                <v-toolbar-title class="font-weight subtitle-1 white--text">Alamat Pengiriman</v-toolbar-title>
                                <v-spacer></v-spacer>
                                </v-toolbar>
                                    <v-container class="mt-2">
                                        <v-row class="ml-auto mr-auto">
                                            <AddressComponent :loading="loading" /> 
                                        </v-row>
                                            <v-app-bar
                                            fixed
                                            bottom
                                            elevation="6">
                                                <v-row>
                                                    <v-dialog v-model='add_shipping_address' fullscreen hide-overlay transition="slide-x-transition">
                                                    <template v-slot:activator="{ on }">
                                                    <v-col><v-btn block color="#ABCF2A" class="white--text" v-on="on" ><v-icon>mdi-plus</v-icon>Tambah</v-btn></v-col>
                                                    </template>
                                                    <v-card>
                                                        <v-toolbar class="app-bar-gradient">
                                                        <v-btn icon dark @click="add_shipping_address = false">
                                                            <v-icon>mdi-chevron-left</v-icon>
                                                        </v-btn>
                                                        <v-toolbar-title class="font-weight subtitle-1 white--text">Tambah Alamat</v-toolbar-title>
                                                        <v-spacer></v-spacer>
                                                        </v-toolbar>
                                                        <v-row class="mx-3 mt-5">
                                                            <v-col class="mb-0 pb-0">
                                                                <v-text-field
                                                                label="Simpan Alamat Sebagai"
                                                                outlined>
                                                                </v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row class="mx-3">
                                                            <v-col class="mb-0 pb-0" >
                                                                <v-text-field
                                                                label="Nama Penerima"
                                                                outlined>
                                                                </v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row class="mx-3">
                                                            <v-col class="mb-0 pb-0">
                                                                <v-text-field
                                                                label="No. Handphone"
                                                                outlined>
                                                                </v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row class="mx-3">
                                                            <v-col class="mb-0 pb-0" >
                                                                <v-text-field
                                                                label="Kode Pos"
                                                                outlined>
                                                                </v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row class="mx-3">
                                                            <v-col class="mb-0 pb-0">
                                                                <v-select outlined
                                                                label="Provinsi">
                                                                </v-select>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row class="mx-3">
                                                            <v-col class="mb-0 pb-0">
                                                                <v-select outlined
                                                                label="Kota">
                                                                </v-select>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row class="mx-3">
                                                            <v-col class="mb-0 pb-0">
                                                                <v-select outlined
                                                                label="Kecamatan">
                                                                </v-select>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row class="mx-3">
                                                            <v-col class="mb-0 pb-0">
                                                                <v-textarea outlined
                                                                auto-grow
                                                                rows="2"
                                                                label="Alamat">
                                                                </v-textarea>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row class="mx-3">
                                                            <v-col class="my-0 py-0">
                                                                <v-checkbox class="mt-0" label="Jadikan ini alamat utama saya">
                                                                </v-checkbox>
                                                            </v-col>
                                                        </v-row>
                                                        <v-app-bar
                                                        fixed
                                                        bottom
                                                        elevation="6">
                                                            <v-row>
                                                            <v-col>
                                                                <v-btn block color="#ABCF2A" class="white--text" >Simpan</v-btn>
                                                            </v-col>
                                                            </v-row>
                                                        </v-app-bar>
                                                    </v-card>
                                                    </v-dialog>
                                                    
                                                
                                                </v-row>
                                            </v-app-bar>
                                    </v-container>
                            </v-card>
                        </v-dialog>    
                       
                    </v-row>
                    <v-row>
                        <v-col class="py-0">
                            <v-card-text >
                            alamat jalaann 1v no 4
                            </v-card-text>
                        </v-col>
                    </v-row>
                
                </v-card>
            </v-row>
            <v-row >
                <v-col class="pl-7">
                    <v-row>
                      <span style="color:black;">Merchant :</span> <b class="tokomana-green"> Tokoamamamama</b>
                    </v-row>
                    <v-row>
                        <span style="font-size:14px">Jakarta Pusat</span>
                    </v-row>
                </v-col>
            </v-row>
            <v-row class="pl-3 pr-3">
                <v-card outlined width="100%" :loading="loading">
                    <v-row class="px-4">
                        <v-col cols="3">  
                            <v-img :width="imageHeight" src="https://via.placeholder.com/150"></v-img>
                        </v-col>
                        <v-col cols="8" class="pl-6">
                            <v-row style="max-height:34px;overflow:hidden;line-height:1.0;">
                                <span><b style="color:black;font-weight:800;font-size:13px;">NIKE Air Zoom Pedsddsdsdsdsdddsdsddsdddgasus 36 Miami</b></span>
                            </v-row>
                            <v-row class="pt-1">    
                                <span style="font-size:9px" >Qty: 2 Barang</span>
                                <span style="display:inline-block;width:25px" ></span>
                                <span style="font-size:9px">Berat: 150 gram</span>
                            </v-row>
                            <v-row class="pt-1">
                                <b style="color:#34B36A;font-weight:800;font-size:13px;">Rp200.000,-</b>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-card>
            </v-row>
        </v-container>
        <!-- Ekspedisi -->
        <v-container class="mb-2">
             <v-row class="">
                <v-col class="">
                    <span class="font-weight-black" style="font-size:17px;">Ekspedisi Pengiriman  <v-icon color="#ABCF2A">mdi-information</v-icon></span>
                </v-col>
            </v-row>

            <v-dialog v-model='expedition_choice' fullscreen hide-overlay transition="slide-y-reverse-transition">
                <template v-slot:activator="{ on }">
                    <v-row class="px-3" >
                        <v-btn outlined block color="#DBDBDB" ><b class="font-weight-bold" style="color:black;" v-on="on">Pilih Ekspedisi Pengiriman</b></v-btn>
                    </v-row>
                </template>
                <v-card>
                    <v-toolbar class="app-bar-gradient">
                    <v-btn icon dark @click="expedition_choice = false">
                        <v-icon>mdi-chevron-left</v-icon>
                    </v-btn>
                    <v-toolbar-title class="font-weight subtitle-1 white--text">Ekspedisi Pengiriman</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                    
                </v-card>
            </v-dialog>    
        </v-container>
        <!-- voucher -->
         <v-row style="background-color:#F2F2F2;" class="mb-3 ">
             <v-col cols="8" class="pr-1 ml-auto">
                <v-text-field hide-details placeholder="Masukkan Kode Promo" height="30" label="Voucher"></v-text-field>
             </v-col>
             <v-col cols="3" class="pl-0 pt-3 mr-auto">
                  <v-btn depressed color="primary" class="pa-3 py-6">Apply</v-btn>
             </v-col>
        </v-row>

        <v-container class="mb-3">
            <v-card outlined width="100%" :loading="loading">
                <v-row class="px-3">
                    <v-col class="">
                        <span>Jumblah Barang (2)</span>
                    </v-col>
                    <v-col class="">
                        <span>Rp200.000</span>
                    </v-col>
                </v-row>
                <v-row class="px-3">
                    <v-col class="">
                        <span>Jumblah Barang (2)</span>
                    </v-col>
                    <v-col class="">
                        <span>Rp200.000</span>
                    </v-col>
                </v-row>
                <hr style="border-top: 2px dashed #CCCCCC">
                <v-row class="px-3">
                    <v-col class="">
                        <span><b>Jumblah Barang (2)</b></span>
                    </v-col>
                    <v-col class="">
                        <span style="color:#34B36A"><b>Rp200.000</b></span>
                    </v-col>
                </v-row>
            </v-card>
        </v-container>
        <v-row class="px-6">
            <v-btn depressed color="primary" block height="60"><b>Pilih Metode Pembayaran</b></v-btn>
        </v-row>
        
        
    </div>
</template>


<style lang="scss">
  @import '~assets/styles/style.scss';
</style>

<script>
import AddressComponent from '~/components/AddressComponent.vue'
export default {
    components:{
        AddressComponent
    },
    data(){
        return{
           loading:true,
           shipping_address:false,
           add_shipping_address:false,
           expedition_choice:false,
           
        }
    },
    mounted(){
       this.loading = false;
      
    },
    computed: {
        imageHeight () {
        switch (this.$vuetify.breakpoint.name) {
            case 'xs': return '60px'
            case 'sm': return '120px'
            case 'md': return '150px'

        }
        },
    },
}
</script>

<style scoped>
.v-text-field .v-input__control .v-input__slot {
    min-height: auto !important;
    display: flex !important;
    align-items: center !important;
  }
</style>
