<template>

    <v-container fluid>
        <v-row>
            <span class="title font-weight-black ml-1 light-green--text">Semua Best Seller</span>
        </v-row>
        <v-row>
            <span class="body-2 font-weight-light ml-1 ">Menampilkan {{b_seller_total}} Produk "<b class="light-green--text">Best Seller</b>"</span>
        </v-row>
        <br>
        <v-skeleton-loader
        v-if="loading"
        loading
        transition="scale-transition"
        type="card"
        >
        </v-skeleton-loader> 
        <v-row>
            <v-col  cols="6" md="2" sm="3" xs6 sm3 class="pa-3" v-for="b_seller in b_sellers" v-bind:key="b_seller.id">
                <Product :data="b_seller" />
            </v-col>
        </v-row>
        <client-only>
            <infinite-loading spinner="spiral" @infinite="loadMore" >
            <div v-if="!loading" slot="no-more">No more products</div>
            </infinite-loading>
        </client-only>
    </v-container> 

</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
    
</style>

<script>
import axios from 'axios'
import Product from '~/components/product/Product.vue'

export default {
    data(){
        return{
            b_sellers:[],
            b_seller_total:'',
            busy: false,
            limit:8,
            loading:true,
        }
    },
    components: {
        Product
    },
    computed:{
        
    },
    mounted(){
       this.loading = false;
      
    },
    methods:{
    
        loadMore: function($state) {
           
          axios.get(
              this.$store.state.init.base + 'api/index.php/customer/v6/product/best_seller'
              ).then(res => {
              this.b_seller_total = res.data.length;
              const append = res.data.slice(this.b_sellers.length,this.b_sellers.length + this.limit)          
              this.b_sellers = this.b_sellers.concat(append);
              if(this.b_sellers.length === this.b_seller_total){
                $state.complete();
              }else{
                $state.loaded();
              }
          })
            
    
        }
    }
    
}
</script>
