<template>
    <div>
        <v-container class="pa-0" >
            <v-row class="mt-1 mb-5 pl-2">
                <v-col class="pb-0"><span class="title font-weight-black">Keranjang</span></v-col>
            </v-row>
        </v-container>
        <v-row style="background-color:#F2F2F2;" class="pl-2">
            <v-col cols="7" class="py-0 mt-6">
                <v-checkbox label="Pilih semua belanjaan" class="mt-0 pt-0" style="float:left;"></v-checkbox>
            </v-col>
            <v-col cols="4" class="py-0 mt-6 pr-0">
                <b style="color:#ABCF2A;float:right;">Hapus</b>
            </v-col>
        </v-row>
        <!-- cart body -->
        <v-container>
            <v-row >
                <v-col class="ml-4">
                    <v-row>
                        <v-checkbox hide-details class="mt-0 pt-0" style="float:left;">
                            <template v-slot:label>
                            <div><span style="color:black;">Merchant :  </span><b class="tokomana-green">Tokoamamamama</b></div>
                            </template>
                        </v-checkbox>
                    </v-row>
                    <v-row>
                        <span class="pl-8" style="font-size:14px">Jakarta Pusat</span>
                    </v-row>
                </v-col>
            </v-row>
            <ProductCart :loading="loading" />
            <div class="x-small-screen-whitespace"></div>
        </v-container>
        
        <v-footer fixed class="cart-bottom-pay">
            <v-row style="color:#ABCF2A;">
                <v-col cols="6" class="mt-2 pr-0 pl-6">
                    <v-row>
                        <span style="color:white;">Total Belanjaan</span>
                    </v-row>
                    <v-row>
                        <span style="color:white;font-weight:800">Rp 200.000</span>
                    </v-row>
                </v-col>
                 <v-col cols="6" class="pl-0">
                    <center>
                    <nuxt-link to="checkout/address" style="text-decoration:none;">
                        <v-btn depressed color="white" max-width="100%" class="py-7 px-5" id="cart-beli-sekarang">Beli Sekarang</v-btn>
                    </nuxt-link>
                    </center>
                </v-col>
            </v-row>
        </v-footer>
    </div>
</template>


<style lang="scss">
  @import '~assets/styles/style.scss';
</style>

<script>
import ProductCart from '~/components/cart/ProductInCart.vue'
export default {
    components:{
        ProductCart
    },
    data(){
        return{
           loading:true, 
        }
    },
    mounted(){
       this.loading = false;
      
    },
}
</script>

<style scoped>
#cart-beli-sekarang{
  color:#ABCF2A;font-weight:800;border-radius:7px;
}
.v-expansion-panel-header--active{
    color:#ABCF2A;
}
.cart-bottom-pay{
    max-width: 500px;
    bottom:56px !important;
    background-color:#ABCF2A;
    
    margin-left: auto;
    margin-right: auto;
    
    
}
.x-small-screen-whitespace{
    height:85px;
}
@media (max-width:330px) {
  .x-small-screen-whitespace{
      height: 100px;
  }
}
 
</style>>
