<template>
    <v-container>
        <v-row>
            <span class="title font-weight-black ml-1 light-green--text">Semua Kategori</span>
        </v-row>
        <br>
        <v-row dense  justify="space-between" class="">
            <v-col class="pt-0 pb-0" style="max-width:85px;" v-for="cat in home.category" v-bind:key="cat.id">
                <v-btn height="70" width="70" depressed color="white">
                   <center><v-img  width="70" :src="imageCategoryUrl+cat.icon_mobile"></v-img></center>
                </v-btn>
                   <center><p class="text-10 grey--text text-xs-center pt-1 text-wrap">{{ cat.name }}</p></center>
            </v-col>
        </v-row>
        <br>
        <v-row>
            <v-flex xs12>
                <v-row>
                <v-flex class="pl-4">
                <p class="mr-3 mt-4"><b class="mt-5 text-13 font-weight-bold">PALING LARIS </b><b class="float-right primary--text">Lihat</b></p>
                </v-flex>
                <v-flex class="scroll pa-1 pl-4 pb-2">
                    <v-flex xs5 mr-3 class="scroll-item" v-for="bseller in best_seller.slice(0, 5)" v-bind:key="bseller.id">
                    <Product :data="bseller" />
                    </v-flex>
                </v-flex> 
                </v-row>
            </v-flex>
        </v-row>
    </v-container> 
</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
    
</style>

<script>
import axios from 'axios'
import Product from '~/components/product/Product.vue'

export default {
    data(){
        return{
            home:'',
            best_seller:''
        }
    },
    components: {
        Product
    },
    computed:{
        imageCategoryUrl: function(){
            let categoryImgUrl
            categoryImgUrl = this.$store.state.init.base + 'mobile/images/'
            return categoryImgUrl
        },
    },
    mounted(){
       this.getDataHome() 
       this.getBestSeller(); 
    },
    methods:{
        getDataHome: function(){
        return axios.post(
            this.$store.state.init.base + 'api/index.php/customer/v6/home/init'
            ).then(( { data }) => {
            this.home = data
            })
        },
        getBestSeller: function(){
        return axios.get(
            this.$store.state.init.base + 'api/index.php/customer/v6/product/best_seller'
            ).then(( { data }) => {
            this.best_seller = data
            })
        }
    }
    
}
</script>