<template>
    <div>
        <v-container class="pa-0" >
            <v-row class="mt-1 mb-5 pl-2">
                <v-col class="pb-0"><span class="title font-weight-black">Bantuan</span></v-col>
            </v-row>
        </v-container>
        <div class="thin-line-seperator"></div>
        <v-container>
            <v-row class="pl-3 mb-2"><b style="font-size:17px;color:#ABCF2A">PENJUAL</b></v-row>
            <v-expansion-panels accordion>
                <v-expansion-panel>
                    <v-expansion-panel-header disable-icon-rotate >Akun<template v-slot:actions><v-icon color="#ABCF2A">mdi-account</v-icon></template></v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-expansion-panels >
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption" >1. Bagaimana cara bergabung di Tokomanamana ?</v-expansion-panel-header>
                                <v-expansion-panel-content class="caption">
                                    <p>Pastikan barang yang anda jual dalam daftar barang di tokomanamana, setelah itu silahkan anda buka website Tokomanamana.com lalu klik ”menjadi penjual” dipojok kanan atas untuk memulai registrasi. Silahkan mengisi data diri anda dan informasi toko lainnya.</p>
                                    <p><b>Note: Jangan lupa untuk melakukan verifikasi no, handphone, kode otp akan dikirimkan ke nomor hp yang didaftarkan.</b></p>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">2. Saya ingin bergabung di tokomanamana,tapi barang ditoko saya tidak ada yang dijual di situs tokomanamana,apa yang harus saya lakukan ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda bisa mulai mempertimbangkan untuk  menjual barang yang baru ditoko anda.kita akan bekerjasama dengan beberapa OFFICIAL BRAND, untuk itu pastikan anda selalu update di situs tokomanamana, untuk mengetahui brand yang bekerjasama dengan kami.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">3. Bagaimana login di website tokomanamana  merchant ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Untuk login akun anda , silahkan buka  www.tokomanamana.com/ma</p><p>Silahkan login menggunakan email dan password yang sudah anda daftarkan sebelumnya.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">4. Saya sudah daftar, tapi lupa password bagaimana cara login kembali ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Untuk saat ini ,kita menyediakan fitur login menggunakan no.handphone, jadi jika anda lupa email atau password, anda bisa login menggunakan nomor yang terdaftar. kode otp akan dikirimkan ke nomor terdaftar.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">5. Saya ingin menambah produk lain yang tidak tercantum di situs Tokomanamana ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Mohon maaf,untuk saat ini belum bisa, kita hanya menjual barang yang sudah bekerjasama dengan Tokomanamana.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                             <v-expansion-panel>
                                <v-expansion-panel-header class="caption">6. Bagaimanakah sistem penjualan di Tokomanamana ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Sistem penjualan Tokomanamana dengan mendekatkan pembeli dengan toko terdekat,jadi toko anda hanya akan mendapatkan orderan dari customer terdekat dengan lokasi anda.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                             <v-expansion-panel>
                                <v-expansion-panel-header class="caption">7. Apakah saya akan mendapatkan orderan dari luar kota atau lokasi yang jauh ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Tidak, Anda hanya akan mendapatkan customer dengan lokasi terdekat dari toko anda.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                    <v-expansion-panel-header disable-icon-rotate >Penjualan<template v-slot:actions><v-icon color="#ABCF2A">mdi-store</v-icon></template></v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-expansion-panels >
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption" >1. Bagaimana cara menambahkan produk di toko saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Untuk saat ini, penambahan jenis produk hanya boleh dilakukan oleh official brand. Penjual hanya bisa mengupdate stok.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">2. Apakah Harga yang tercantum di situs sudah termasuk ongkos kirim ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Belum, harga yang tercantum di situs hanyalah harga satuan barang, biaya ongkos kirim akan dibebankan kepada customer, jika customer langsung ambil barang ketoko anda, maka tidak dibebankan biaya ongkos kirim.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">3. Bagaimana cara mempromosikan produk saya ke sosial media ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Dikarenakan sistem penjualan di Tokomanamana menyesuaikan lokasi terdekat pembeli dengan penjual,kami sarankan untuk setiap toko fokus promosi ke orang orang di sekitar anda. Disamping kami akan melakukan promosi ke masyarakat menaikkan minat beli masyarakat akan barang lewat Tokomanamana.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">4. Bagaimana cara mengubah informasi produk saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda tidak perlu mengubah informasi di produk anda, semuanya sudah di update di situs Tokomanamana, anda hanya perlu mengupdate stok di toko anda.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">5. Dapatkah saya mengubah harga produk saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda tidak bisa mengubah harga produk, semuanya harga sudah disesuaikan dengan keuntungan sekitar 15% untuk penjual.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                             <v-expansion-panel>
                                <v-expansion-panel-header class="caption">6. Berapakah Maksimum Jumlah produk yang dapat saya jual ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Tidak ada, anda bisa menjual sebanyak banyaknya selama barang anda ada dalam list Tokomanamana.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                             <v-expansion-panel>
                                <v-expansion-panel-header class="caption">7. Bagaimana cara update stock ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Setelah anda login, silahkan anda klik produk</p><p>Lalu masukkan nama barang yang anda ingin jual dikolom “cari” untuk memudahkan pencarian</p><p>Jika nama barang yang anda ingin jual sudah ditemukan. Silahkan isi jumlah stok yang anda miliki.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">8. Harga yang tercantum di situs Tokomanamana, siapa kah yang menentukan nya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Harga yang tercantum adalah harga standart yang sudah kita tetapkan dengan keuntungan sekitar 15%. Untuk setiap zona lokasi,akan ada perbedaan harga ,dan secara otomatis berubah mengikuti lokasi anda.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">9. Berapa profit untuk tiap barang yang ditetapkan oleh Tokomanamana ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Untuk profit kita menetapkan kurang lebih 15%.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">10. Apakah ada perbedaan harga jika customer beli barang satuan ,atau banyak ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Setiap barang akan berubah harganya sesuai dengan quantity minimum pembelian barang tersebut. untuk itu ,saat anda update stok silahkan cek harga grosir di bagian kanan kami sudah memberikan perbedaan harga. Jika anda mencentangnya, berarti anda setuju untuk memberikan harga grosir untuk barang tersebut.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">11. Jika saya memberikan harga grosir, apa keuntungannya untuk saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Jika anda memberikan harga grosir, toko anda akan semakin diminati oleh customer.dan tentu saja semakin banyak barang yang terjual.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                              <v-expansion-panel>
                                <v-expansion-panel-header class="caption">12. Bagaimana caranya supaya barang saya laku dan penjualan lancar ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Tips yang bisa kami berikan adalah memberikan harga grosir untuk menaikkan jumlah barang yang terjual. Untuk promosi dan iklan akan dilakukan Tokomanamana.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                              <v-expansion-panel>
                                <v-expansion-panel-header class="caption">13. Bagaimana cara melihat orderan  terbaru ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda bisa melihat pesanan di menu  ‘Pesanan’</p><p>Semua daftar pesanan barang dari customer akan muncul di daftar</p><p>Anda bisa mensortir tanggal untuk melihat orderan terbaru ,status untuk melihat status orderan apakah sudah selesai atau belum.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                              <v-expansion-panel>
                                <v-expansion-panel-header class="caption">14. Bagaimana cara menerima orderan ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Jika anda sudah memilih salah satu orderan,silakan klik link invoice nya, setelah itu klik “terima pesanan”.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                              <v-expansion-panel>
                                <v-expansion-panel-header class="caption">15. Jika saya sudah terima pesanan, langkah selanjutnya apa ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Setelah menerima pesanan,anda bisa segera menyiapkan barang yang dibeli oleh customer,anda harus mengemas nya terlebih dahulu ,untuk memudahkan dalam pengiriman, setelah itu anda bisa mengantarnya ke ekspedisi  terdekat untuk mengirimkan kelokasi customer.</p>
                                <p>Setelah itu anda  harus memasukan nomor resi  untuk mengkonfirmasi pengiriman.</p><p>Khusus untuk pengambilan ditempat,anda bisa mengklik “Pesanan siap diambil”.</p><p>Supaya  customer bisa tahu, jika barang sudah siap untuk diambil.</p>
                                <p>Setelah itu anda bisa klik “pesanan sudah diambil” lalu anda akan diminta memasukkan kode OTP yang dikirimkan ke handphone customer anda .hal ini untuk memastikan keamanan untuk customer dan penjual .jika sudah selesai menyelesaikan semua tahap tersebut, selamat anda baru saja menyelesaikan satu transaksi di Tokomanamana.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                             <v-expansion-panel>
                                <v-expansion-panel-header class="caption">16. Jika ada kendala dengan barang pesanan yang dibeli oleh customer, bagaimana caranya menolak pesanan di sistem? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda bisa membatalkan pesanan jika ada kendala dengan ketersediaan barang . silahkan klik invoice pesanan, Setelah itu,anda pilih tolak pesanan.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                    <v-expansion-panel-header disable-icon-rotate >Dana<template v-slot:actions><v-icon color="#ABCF2A">mdi-cash-multiple</v-icon></template></v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-expansion-panels >
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption" >1. Bagaimana cara melihat total penjualan secara keseluruhan ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda bisa melihat laporan penjualan anda di menu Laporan, lalu pilih “penjualan”.</p><p>Anda bisa melihat hasil penjualan anda hari ini, minggu sebelumnya, atau bulan sebelumnya,semuanya bisa anda lihat secara rinci.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">2. Bagaimana saya mendapatkan bayaran saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda bisa menarik saldo anda dari menu “laporan”, pilih Saldo</p><p>Setelah itu pilih tarik dana, Masukkan jumlah penarikan</p><p>Lalu pilih kirim kode ,supaya kode dikirimkan ke hp anda, sebagai kode pengaman. Maka uang akan masuk otomatis kerekening yang terdaftar sebelumnya.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">3. Berapa lama pencairan dana supaya masuk kerekening saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Untuk pencairan dana ,memakan waktu maksimal 7 hari kerja. Jika melewati batas waktu, anda bisa menghubungi customer service kami.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">4. Apakah Tokomanamana bisa mencairkan dana pada tanggal merah ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Untuk penarikan dana bisa dilakukan tanggal merah, kami akan memproses pada jam kerja senin – sabtu.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">5. Bagaimana mekanisme penarikan dana untuk transaksi kartu kredit ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Untuk transaksi kartu kredit, jika transaksi sudah berhasil, dana tetap akan masuk ke saldo anda sama dengan jenis pembayaran lainnya.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                             <v-expansion-panel>
                                <v-expansion-panel-header class="caption">6. Mengapa dana penjualan saya belum masuk ke rekening saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Jika anda mengalami kendala dalam penarikan dana, anda bisa menghubungi kami di (021)2260 5542.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                    <v-expansion-panel-header disable-icon-rotate >Informasi Toko<template v-slot:actions><v-icon color="#ABCF2A">mdi-information-outline</v-icon></template></v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-expansion-panels >
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption" >1. Bagaimana cara melihat berapa banyak yang melihat produk saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Untuk saat ini belum tersedia.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">2. Apakah ada fitur libur toko ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Ada, anda bisa menutup toko anda untuk sementara atau permanen di pengaturan.</p><p>Silahkan masuk ke menu  pengaturan.</p><p>Anda bisa pilih tutup, jika anda ingin menutup toko.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">3. Pembeli belum membeli penilaian untuk saya, apakah itu merugikan ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Tidak, ulasan tidak akan dilihat oleh publik,jadi anda tidak perlu khwatir jika customer belum memberikan penilaian .tapi performa toko menentukan supaya customer bisa lebih yakin saat memilih toko anda.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                           
                        </v-expansion-panels>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                 <v-expansion-panel>
                    <v-expansion-panel-header disable-icon-rotate >Pusat Resolusi<template v-slot:actions><v-icon color="#ABCF2A">mdi-comment-question-outline</v-icon></template></v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-expansion-panels >
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption" >1. Kendala di Pusat Resolusi </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Jika Anda memiliki kendala di Pusat Resolusi dengan pembeli dan masih dalam proses penyelesaian, maka Anda dapat aktif dalam diskusi dan sepakati solusi penyelesaiannya. Anda dapat mengubah solusi, menyepakati solusi, serta dapat bernegosiasi hingga kendala yang ada di Pusat Resolusi terselesaikan.</p>
                                <p>Jika pembeli tidak merespons komplain setelah 3 hari sejak komplain dibuat, Anda bisa klik Minta Bantuan untuk meminta bantuan kepada Tokomanamana. Apabila pembeli tetap tidak merespons setelah Anda menekan tombol bantuan, maka Tokomanamana akan menjadi moderator dan memberikan solusi sesuai perkembangan diskusi.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">2. Panduan Pusat Resolusi</v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Seluruh transaksi yang Anda lakukan di Tokomanamana jika mengalami kendala, maka telah tersedia fitur Pusat Resolusi yang dapat dimanfaatkan untuk berdiskusi dengan pembeli untuk kesepakatan solusi dan penyelesaiannya. Melalui fitur Pusat Resolusi, Anda dan pembeli dapat berdiskusi secara langsung dan meminta bantuan pihak ketiga sebagai moderator yaitu Tokomanamana.</p>
                                <p>Pusat Resolusi merupakan sarana bagi penjual dan pembeli untuk menyelesaikan masalah terkait pesanan, seperti produk rusak/kurang/tidak sesuai hingga kendala mengenai ongkos pengiriman. Melalui Pusat Resolusi, penjual dapat berdiskusi langsung dengan pembeli mengenai solusi dari kendala pesanan.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">3. Pengembalian Dana ke Pembeli </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Jika produk yang dipesan oleh pembeli belum sampai, pembeli dapat mengajukan pengembalian dana melalui Pusat Resolusi. Jika pembeli telah mengajukan komplain melalui Pusat Resolusi, maka pastikan Anda merespons komplain tersebut dan aktif berdiskusi untuk penyelesaian kendala.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">4. Mengirim Sisa Barang </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Jika produk yang diterima pembeli kurang dan pembeli meminta Anda mengirim sisa produk, segera respon permintaan tersebut di halaman Pusat Resolusi.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">5. Minta Bantuan ke Tokomanamana </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Tokomanamana akan membantu menengahi masalah di Pusat Resolusi jika:</p>
                                <ul><li><p>Penjual atau pembeli tidak merespon komplain atau belum menemukan solusi yang tepat setelah 3 hari komplain dibuat.</p></li>
                                <li><p>Solusi sudah ditentukan (Penjual/Pembeli sudah klik Terima Solusi) tapi penjual/pembeli tidak menjalankan solusi yang sudah ditentukan.</p></li>
                                <li><p>Setelah solusi dijalankan, pembeli/penjual tidak juga klik Selesaikan Komplain.</p></li></ul>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                             <v-expansion-panel>
                                <v-expansion-panel-header class="caption">6. Permintaan Penggantian Produk</v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Jika produk yang diterima pembeli rusak atau tidak sesuai dan pembeli ingin menukar produk dengan yang baru, segera respon permintaan tersebut di halaman Pusat Resolusi.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>



            <v-row class="pl-3 mt-5 mb-2"><b style="font-size:17px;color:#ABCF2A">PEMBELI</b></v-row>
            <v-expansion-panels accordion>
                <v-expansion-panel>
                    <v-expansion-panel-header disable-icon-rotate >Akun<template v-slot:actions><v-icon color="#ABCF2A">mdi-account</v-icon></template></v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-expansion-panels >
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption" >1. Bagaimana cara mendaftarkan Akun di Tokomanamana ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption">
                                   <p>Untuk membuat akun di Tokomanamana,anda harus registrasi terlebih dulu melalui https://tokomanamana.com/member/register</p>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">2. Bagaimana cara login ke akun yang saya buat ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda bisa login dengan akun yang sudah anda buat,dengan menggunakan email dan password.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">3. Saya sudah daftar, tapi saya lupa password saat daftar,bagaimana caranya saya bisa tetap login ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>• Jika anda lupa password, maka anda harus menggantinya dengan yang baru</p><p>• Saat tampilan login muncul, pilih forgot your password</p><p>• Masukan email yang terdaftar dan klik reset password</p><p>• Akan ada tautan yang dikirimkan ke email anda, silahkan ikuti stepnya</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">4. Bagaimana cara merubah informasi profil di akun saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Setelah anda login, anda bisa merubah informasi tentang anda di tab “profil saya”.</p><p>Anda bisa mengubah nama anda, tanggal lahir, jenis kelamin dan nomor handphone.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            
                        </v-expansion-panels>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                    <v-expansion-panel-header disable-icon-rotate >Pesanan<template v-slot:actions><v-icon color="#ABCF2A">mdi-package-variant-closed</v-icon></template></v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-expansion-panels >
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption" >1. Bagaimana cara memesan barang di Tokomanamana ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>• Pilih atau cari barang yang anda inginkan Anda bisa mencari dari kategori, atau langsung ketik nama barangnya di kotak search</p>
                                <p>• Klik add to chart</p><p>• Barang yang anda pilih akan masuk ke keranjang, silahkan klik checkout untuk melanjutkan</p><p>• Masukkan alamat pengiriman, anda juga bisa menambah  alamat lain ,jika alamat sebelumnya berbeda dengan alamat yang baru</p>
                                <p>• Pilih metode pengiriman , ada beberapa metode pengiriman yang kami sediakan seperti: ambil sendiri, JNE, TIKI dan POS express</p>
                                <p>• Anda bisa memilih beberepa jenis pembayaran yang tersedia seperti Transfer,virtual account, Alfamart,credit card,dan lain lain.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">2. Bagaimana cara memeriksa status barang pesanan saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda bisa mengecek status pesanan anda di ‘Riwayat pesanan’.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">3. Apakah saya bisa memesan barang tanpa harus mendaftar ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Tidak bisa, anda diwajibkan untuk membuat akun terlebih dahulu. ini memudahkan anda mengecek pesanan anda dan tidak perlu menginput alamat dan data lainnya pada setiap transaksi.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">4. Saya berubah pikiran,boleh kah saya menghapus pesanan ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Barang yang sudah anda pilih dan anda bayar, tidak bisa dihapus atau di ganti. Anda hanya bisa menghapusnya masih di cart.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">5. Apakah saya akan mendapatkan notifikasi jika saya sudah berbelanja di Tokomanamana ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Konfirmasi berupa tagihan dan notifikasi bahwa pembayaran telah diterima akan dikirimkan melalui SMS dan email.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                             <v-expansion-panel>
                                <v-expansion-panel-header class="caption">6. Dapatkah saya merubah metode pembayaran untuk pesanan yang sudah ada ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Kami tidak menawarkan pilihan untuk merubah metode pembayaran</p></v-expansion-panel-content>
                            </v-expansion-panel>
                             <v-expansion-panel>
                                <v-expansion-panel-header class="caption">7. Kapan saya akan menerima pesanan saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Setelah anda berhasil melakukan pembelian di Tokomanamana, kami akan melakukan verifikasi dan akan memberikan Informasi dan update terbaru posisi pesanan anda. apabila pesanan anda dalam tahap pengiriman, anda bisa melakukan Cek resi di web jasa pengiriman.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">8. Apakah saya mendapatkan invoice atau faktur ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Invoice atau faktur akan kami kirimkan ke email anda secara otomatis, setelah pesanan anda berhasil dibuat. Anda juga akan dapat melihat invoice pada riwayat pesanan diprofile anda.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">9. Apakah saya bisa membeli dalam jumlah banyak ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda bisa memesan dalam jumlah banyak ,dan tentu saja harga yang anda dapatkan akan lebih murah.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">10. Saya sudah melakukan payment, tapi Pesanan saya dibatalkan oleh toko cabang, apa yang harus saya lakukan ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda tidak perlu khawatir,jika pesanan anda di batalkan oleh toko yang menyediakan barang pesanan anda. Pesanan anda akan otomatis diarahkan ketoko cabang utama kami.</p></v-expansion-panel-content>
                            </v-expansion-panel>
  
                        </v-expansion-panels>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                    <v-expansion-panel-header disable-icon-rotate >Informasi Umum<template v-slot:actions><v-icon color="#ABCF2A">mdi-information</v-icon></template></v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-expansion-panels >
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption" >1. Apakah Tokomanamana memiliki toko fisik ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Tokomanamana tidak memiliki toko fisik, pembelian hanya bisa dilakukan melalui Web/Mobile apps Tokomanamana. Akan tetapi ,kita bekerjasama dengan banyak toko cabang di seluruh Indonesia.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">2. Apakah belanja di Tokomanamana aman ? bagaimana caranya Supaya terhindar dari penipuan. </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Kami menjamin bahwa semua partner penjual yang bekerja sama dengan kami adalah penjual yang benar benar ada dan akan memberikan pelayan yang terbaik untuk customer Tokomanamana.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">3. Kontak resmi Tokomanamana ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda bisa menghubungi kami di +622122605542</p><p>Email : cs@tokomanamana.com</p><p>Kami siap merespon setiap keluhan dan permasalahan anda.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">4. Jika ada permasalahan dengan barang pesanan saya, kemana saya bisa menghubungi ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Apabila barang tidak sesuai, lecet, atau tidak utuh. Anda bisa mengajukan komplain ke Tokomanamana, kami akan meneruskan permasalahan anda ke toko yang bersangkutan dan kami akan memberi solusi yang terbaik untuk bersama.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">5. Saya ingin chat Customer service ,bagaimana caranya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Situs Tokomanamana sudah dilengkapi dengan fitur chat untuk memudahkan pembeli berkomunikasi dengan kami, anda bisa mengklik ‘Chat with us’ atau logo whatsapp di kanan bawah.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                             <v-expansion-panel>
                                <v-expansion-panel-header class="caption">6. Harga barang bisa berubah, apa penyebabnya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Perlu anda ketahui harga produk pada website belum termasuk biaya kirim dan dapat berubah sewaktu waktu.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                    <v-expansion-panel-header disable-icon-rotate >Pengiriman<template v-slot:actions><v-icon color="#ABCF2A">mdi-truck-fast</v-icon></template></v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-expansion-panels >
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption" >1. Layanan pengiriman regular di Tokomanamana </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Tokomanamana menyediakan beberapa layanan untuk pengiriman pesanan salah satunya adalah Layanan Pengiriman Reguler. Pengiriman yang tergolong dalam Layanan Pengiriman Reguler antara lain, JNE, TIKI, Pos Indonesia, SICEPAT, J&T Express.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">2. Berapa biaya ongkos kirim yang dibebankan ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Besar biaya pengiriman akan disesuaikan dengan layanan pengiriman yang anda pilih pada halaman produk. Pengiriman akan di lakukan setelah pembayaran berhasil diterima oleh Tokomanamana (kecuali ambil ditempat). Ongkos kirim akan dihitung berdasarkan berat produk sesuai kriteria yang telah ditetapkan oleh jasa kurir yang bekerja sama dengan kami untuk setiap wilayah pengiriman dan lokasi penyediaan.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">3. Berapa lamakah barang pesanan saya akan sampai ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Estimasi pengiriman barang ditentukan oleh jasa kurir ,lokasi pengiriman dan layanan pengiriman yang anda pilih. Estimasi pengiriman tertera di tiap produk yang anda pilih dan jasa kurir yang anda pilih.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">4. Wilayah mana saja yang bisa ambil barang ke tempat ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Saat anda sudah masuk di tahap Shipping anda akan diberikan pilihan pengiriman, selain pakai jasa ekspedisi, kita Juga menyediakan pilihan “Ambil sendiri”. Anda bisa melihat alamat toko setelah menyelesaikan pembayaran.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">5. Apakah pengiriman barang saya bisa dipercepat ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Mohon maaf, kami tidak dapat mempercepat proses pengiriman. Estimasi pengiriman tergantung dari Supplier/Merchant serta wilayah alamat pengiriman Anda. Kami akan mengirimkan pemberitahuan melalui email dan/atau SMS jika pesanan telah masuk proses pengiriman.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">6. Bisakah Tokomanamana mengirimkan paket ke kantor saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Kami akan mengirimkan pesanan anda sesuai alamat yang anda berikan saat melakukan pesanan, baik itu alamat rumah atau kantor anda.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">7. Apakah ada wilayah tertentu yang tidak masuk area pengiriman ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Tokomanamana dapat mengirimkan barang ke semua wilayah Indonesia. Kami bekerja sama dengan perusahaan logistic seperti : JNE,TIKI, J&T, SICEPAT dan POS INDONESIA untuk memberikan pelayanan yang terbaik kepada pelanggan.Namun mohon maaf, untuk pengiriman ke luar negeri sampai saat ini belum tersedia.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">8. Bagaimana saya mengecek lamanya waktu pengiriman ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Untuk saat ini kami belum menyediakan fitur estimasi perkiraan barang sampai di alamat tujuan,tapi Kami sarankan untuk mengecek langsung ke situs ekspedisi pilihan anda, untuk memastikan perkiraan barang sampai ke alamat anda.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">9. Saya memesan barang lebih dari satu item, tetapi saya hanya Menerima satu. Bagaimana dengan produk pesanan yang lain ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Produk pesanan anda dapat dikirimkan secara terpisah jika barang dikirim oleh penjual berbeda.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">10. Saya memesan beberapa produk ,apakah saya akan menerima satu resi saja ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Produk pesanan anda dapat di proses oleh penjual yang berbeda jika barang yang anda pilih tidak tersedia di satu merchant saja dan tentu saja resinya juga akan berbeda.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">11. Kapan tepatnya barang pesanan saya di kirimkan ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Kami belum dapat menginformasikan tangggal, dan atau kapan tepatnya produk pesanan akan dikirimkan. Batas pengiriman untuk penjual 2x24 jam sejak order masuk.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">12. Bisakah saya dihubungi, jika barang mau dikirimkan ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Anda hanya akan mendapatkan notifikasi melalui SMS dan email jika barang pesanan sudah dikirimkan oleh penjual.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">13. Bagaimana jika saya tidak dirumah saat pesanan datang ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Kami sarankan untuk anda menyiapkan surat kuasa dan tanda pengenal untuk mengkonfirmasi orang lain sebagai pengganti penerima atau anda juga dapat menghubungi kontak customer service kami segera setelah melakukan pemesanan.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">14. Bisakah saya mengambil barang pesanan saya ke kantor Tokomanamana ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Untuk saat ini pengambilan barang di kantor Tokomanamana belum tersedia, barang dikirimkan oleh penjual kami.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">15. Nomor resi saya tidak bisa dilacak,apa yang harus saya lakukan ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Informasi pelacakan bisa saja belum tersedia untuk anda, informasi tersebut akan tersedia maksimal 3x24 jam pada hari kerja, jika lebih dari 3 hari kerja nomor resi tidak dapat dilacak juga, anda bisa langsung menghubugi Tokomanamana.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">16. Apa itu layan cepat express sameday ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Pengiriman cepat atau ekspress adalah layanan yang memberikan pengalaman lebih cepat dan lebih nyaman dalam rangka memenuhi permintaan pelanggan. Layanan pengiriman cepat hanya tersedia di beberapa daerah saja dan hanya untuk produk produk tertentu saja.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">17. Apa yang harus saya lakukan jika pengiriman salah alamat ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Kami sarankan untuk menghubungi ekspedisi terkait atau menghubungi Tokomanamana.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header class="caption">18. Bagaimana cara memilih jenis layanan pengiriman untuk barang pesanan saya ? </v-expansion-panel-header>
                                <v-expansion-panel-content class="caption"><p>Jika anda sudah memasukkan alamat pengiriman, anda bisa memilih jenis ekspedisi yang anda inginkan di Bagian “SHIPPING”.</p></v-expansion-panel-content>
                            </v-expansion-panel>
                           
                        </v-expansion-panels>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-container>

        <v-container>
            <v-row class="pl-3 mb-2"><b style="font-size:17px;color:#ABCF2A">KONTAK KAMI</b></v-row>
            <v-row class="pl-4 mb-2">Email : cs@tokomanamana.com</v-row>
            <v-row class="pl-4 mb-2">Telp : +6221 22605542</v-row>
            <v-img style="width:130px" :src="imageUrl+'whatsapp.png'"></v-img>
            
        </v-container>
    </div>
</template>


<style lang="scss">
  @import '~assets/styles/style.scss';
</style>

<script>
export default {
    data(){
        return{
            
        }
    },
    computed:{
        imageUrl: function(){
        let bgUrl
        bgUrl = this.$store.state.init.base + 'assets/frontend/images/bank/'
        return bgUrl
        },
    }
}
</script>

<style scoped>
.v-expansion-panel-header--active{
    color:#ABCF2A;
}
</style>>
