<template>
    <div>
    <div style="margin:0px -11px;">
    <v-skeleton-loader
    v-if="loading"
    loading
    transition="scale-transition"
    type="image"
    >
    </v-skeleton-loader>
    <v-skeleton-loader
      v-if="loading"
      loading
      transition="scale-transition"
      type="list-item-three-line"
      >
    </v-skeleton-loader>
    
    <v-carousel style="margin-top:-70px;"
      height="300"
      :show-arrows="false"
      hide-delimiter-background
      show-arrows-on-hover
      delimiter-icon="mdi-checkbox-blank-circle"
      class="index-carousel"
    >
      <v-carousel-item
        v-for="(slide, i) in slider"
        :key="i"
      >
        <v-sheet
          height="100%"
        >
          <v-row
            class="fill-height"
            align="center"
            justify="center"
            style="background-color:#E0E0E0"
          >
            <div class="display-3"><v-img  class="ma-0 pa-0 index-carousel-image" :src="imageUrl+slide.image"></v-img></div>
          </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>
    </div>
    <v-container fluid class="ma-0 pa-0">
    <!-- Categories -->
    <br>
    <v-layout>
      <v-flex xs12>
        <p class="title-section mb-1 ml-1"><b>Kategori</b><nuxt-link to="/category" class="float-right text-10 primary--text border-all pa-0" style="text-decoration:none;">Semua Kategori</nuxt-link></p>
        <v-flex class="scroll pa-0 ma-0">
          <v-flex xs3 class="scroll-item ma-1 ml-0 mr-2" v-for="cat in home.category" v-bind:key="cat.id">
            <v-btn height="60" width="60" depressed color="white">
              <center><v-img  width="60" :src="imageCategoryUrl+cat.icon_mobile"></v-img></center>
            </v-btn>
            <center><p class="text-10 grey--text text-xs-center pt-1 text-wrap">{{ cat.name }}</p></center>
          </v-flex>
        </v-flex>  
      </v-flex>
    </v-layout>
    <!-- Brands -->
    <v-layout>
      <v-flex xs12>
        <v-row>
          <v-flex xs3 class="pl-3 pt-5 brand-gradient">
            <p class="title-section white--text"><b>PARTNER RESMI</b></p>
          </v-flex>
          <v-flex xs9 class="scroll pl-2" grey lighten-3>
            <v-flex xs3 class="scroll-item" v-for="brand in brands" v-bind:key="brand.id">
              <v-card height="60" max-width="60" class="pa-1 mx-1 mt-3 mb-3">
                <div class="card-body">
                  <v-img style="margin-top: 35%;" :src="imageUrl+brand.image"></v-img>
                </div>
              </v-card>
            </v-flex>
          </v-flex>
        </v-row>  
      </v-flex>
    </v-layout>
    <br>
    <!-- Promo Hari Ini -->
    <v-layout>
      <v-flex xs12>
        <!-- <swiper>
          <swiper-slide v-for="promo in product_promo.slice(0, 5)" :key="promo.id">
            <v-card width="200">
              <div class="card-body pa-2 pt-3">
                <v-img :src="imageUrl+promo.image"></v-img>
                <br>
                <p v-if="promo.name.length < 20" class="text-11 font-weight-bold">{{ promo.name }}</p>
                <p v-else-if="promo.name.length < 30" class="text-11 mb-0 font-weight-bold">{{ promo.name }}</p>
                <p v-else class="text-11 mb-0 font-weight-bold">{{ promo.name.slice(0, 30) + '...' }}</p>
                <span><b class="text-9 grey--text" style="text-decoration:line-through">{{ promo.price_old }}</b><b class="text-10 primary--text"> {{ promo.price }}</b></span>
                <p class="text-10">Jakarta</p>
                <p class="text-10"><i class="fa fa-eye"></i> {{ promo.viewed }}</p>
              </div>
            </v-card>
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper> -->
        <v-row align="end">
          <v-flex class="pa-1 pl-4 pb-4 promo-gradient">
            <p class="mr-3 white--text mt-4"><b class="mt-5 text-13 font-weight-black">PROMO HARI INI </b><nuxt-link to="/promo"  class="float-right white--text" style="text-decoration:none;">Lihat</nuxt-link></p>
            <v-flex class="scroll">
              <v-flex class="scroll-item" v-for="promo in product_promo.slice(0, 5)" v-bind:key="promo.id">
                <Product :data="promo" />
              </v-flex>
            </v-flex>
          </v-flex> 
        </v-row>
      </v-flex>
    </v-layout>
    <br>
    <!-- Best Seller -->
    <v-layout>
      <v-flex xs12>
        <v-row>
          <v-flex class="pl-4">
          <p class="mr-3 mt-4"><b class="mt-5 text-13 font-weight-black">PALING LARIS </b><nuxt-link to="/best-seller" class="float-right primary--text" style="text-decoration:none;">Lihat</nuxt-link></p>
          </v-flex>
          <v-flex class="scroll pa-1 pl-4 pb-2">
            <v-flex xs5 mr-3 class="scroll-item" v-for="bseller in best_seller.slice(0, 5)" v-bind:key="bseller.id">
              <Product :data="bseller" />
            </v-flex>
          </v-flex> 
        </v-row>
      </v-flex>
    </v-layout>
    <br>
    <!-- Product Recommended -->
    <v-layout>
      <v-flex xs12>
        <v-row>
          <v-flex xs12 class="pa-7 pb-2 mb-7 promo-gradient">
            <p class="white--text"><b class="display-1 font-weight-bold">Barang<br> Rekomendasi</b><br><b>Kami merekomendasi produk ini</b></p>
          </v-flex>
        </v-row>
        <v-row class="pl-2 pr-2" >
          <v-col cols="6" sm="4" class="" v-for="recommend in recommends" v-bind:key="recommend.id">
              <Product :data="recommend" />
          </v-col>
        </v-row>
      </v-flex>
      
    </v-layout>
  </v-container>
  <client-only>
    <infinite-loading spinner="spiral" @infinite="getRecommended" >
      <div v-if="!loading" slot="no-more"></div>
    </infinite-loading>
  </client-only>
  </div>
</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
    
</style>



<script>
import axios from 'axios'
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import Product from '~/components/product/Product.vue'

// import func from '../vue-temp/vue-editor-bridge'

export default {
  scrollToTop: true,
  components: {
    Logo,
    VuetifyLogo,
    Product,
  },
  data(){
    return{
      brands:'',
      slider:'',
      home:'',
      product_promo:'',
      best_seller:'',
      recommends:[],
      recommended_total:'',
      limit:8,
      loading: true,
    }
  },
  computed:{
    limitstr: function(){
      if(this.product_promo.name.length > 5) {
        return this.product_promo.name.slice(0,4);
      }
      return this.product_promo.name;
    },
    imageUrl: function(){
      let bgUrl
      bgUrl = this.$store.state.init.base + 'files/images/'
      return bgUrl
    },
    imageCategoryUrl: function(){
      let categoryImgUrl
      categoryImgUrl = this.$store.state.init.base + 'mobile/images/'
      return categoryImgUrl
    },
  },
  mounted(){
    this.getDataBrand()
    this.getDataBanner()  
    this.getDataHome()
    this.getProductPromo()
    this.getBestSeller()
    
    
    //checks if page has finished loading
    this.loading = false;
     
  },

    

  methods: {
    getDataBanner: function(){
      return axios.get(
        this.$store.state.init.base + 'api/index.php/customer/v6/banner/slider'
        ).then(( { data }) => {
          this.slider = data
        })  
    },
    getDataBrand: function(){
      return axios.get(
        this.$store.state.init.base + 'api/index.php/customer/v6/banner/brand'
        ).then(( { data }) => {
          this.brands = data
        })
    },
    getDataHome: function(){
      return axios.post(
        this.$store.state.init.base + 'api/index.php/customer/v6/home/init'
        ).then(( { data }) => {
          this.home = data
        })
    },
    getProductPromo: function(){
      return axios.post(
        this.$store.state.init.base + 'api/index.php/customer/v6/product/promo'
        ).then(( { data }) => {
          this.product_promo = data.reverse()
        })
    },
    getBestSeller: function(){
      return axios.get(
        this.$store.state.init.base + 'api/index.php/customer/v6/product/best_seller'
        ).then(( { data }) => {
          this.best_seller = data
        })
    },
    getRecommended: function($state) {
           
      axios.get(
          this.$store.state.init.base + 'api/index.php/customer/v6/product/best_seller'
          ).then(res => {
          this.recommended_total = res.data.length;
          const append = res.data.slice(this.recommends.length,this.recommends.length + this.limit)          
          this.recommends = this.recommends.concat(append);
          if(this.recommends.length === this.recommended_total){
            $state.complete();
          }else{
            $state.loaded();
          }
          
      })
        
    }
  }
}
</script>
<style lang="scss" scoped>
.brand-gradient{
  background: rgb(39,174,96); background: linear-gradient(176deg, rgba(39,174,96,1) 26%, rgba(167,194,42,1) 100%);
}
.promo-gradient{
  background: rgb(167,194,42); background: linear-gradient(176deg, rgba(167,194,42,1) 26%, rgba(39,174,96,1) 100%);
}

</style>
