<template>
    <div>
        <v-container class="center">
            <v-row>
                <v-col><center><v-img style="width:200px" :src="imageUrl+'logo.png'"></v-img></center></v-col>
            </v-row>
            <v-row>
                <v-text-field
                label="Email/Phone"
                prepend-icon="mdi-email-outline"
                ></v-text-field>
            </v-row>
            <v-row>
                <v-text-field
                label="Password"
                :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPass ? 'text' : 'password'"
                prepend-icon="mdi-textbox-password"
                @click:append="showPass = !showPass"
                ></v-text-field>
            </v-row>
            <v-row>
                <v-col cols="7">
                    <nuxt-link class="caption mb-0" to="/">Lupa Password?</nuxt-link>
                    <p class="caption mb-0">Belum punya akun? <nuxt-link to="/">Register</nuxt-link></p>
                </v-col>
                <v-col><center><v-btn color="#ABCF2A" class="white--text px-6">Login</v-btn></center></v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
    data(){
        return{
            showPass:false,
        }
    },
    computed:{
        imageUrl: function(){
        let bgUrl
        bgUrl = this.$store.state.init.base + 'files/images/'
        return bgUrl
        },
    }
}
</script>

<style scoped>
.center{
    transform: translate(0%, 50%);

}
</style>>
