<template>
    <v-container>
        <v-row>
            <span class="title font-weight-black ml-1 light-green--text">Semua Promo</span>
        </v-row>
        <v-row>
            <span class="body-2 font-weight-light ml-1 ">Menampilkan {{promo_total}} Produk "<b class="light-green--text">Promo</b>"</span>
        </v-row>
        <br>
        <v-skeleton-loader
        v-if="loading"
        loading
        transition="scale-transition"
        type="card"
        >
        </v-skeleton-loader> 
        <v-row>
            <v-col cols="6" md="2" sm="4" class="pa-3" v-for="promo in promos" v-bind:key="promo.id">
                <Product :data="promo" />
            </v-col>
        </v-row>
        <client-only>
            <infinite-loading spinner="spiral" @infinite="loadMore" >
            <div v-if="!loading" slot="no-more">No more products</div>
            </infinite-loading>
        </client-only>
    </v-container> 
  
</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
    
</style>

<script>
import axios from 'axios'
import Product from '~/components/product/Product.vue'

export default {
    data(){
        return{
            promos:[],
            promo_total:'',
            busy: false,
            limit:8,
            loading:true,
        }
    },
    components: {
        Product
    },
    computed:{
        
    },
    mounted(){
       
       this.loading = false;
      
    },
    methods:{
        loadMore: function($state) {
           
          axios.post(
              this.$store.state.init.base + 'api/index.php/customer/v6/product/promo'
              ).then(res => {
              this.promo_total = res.data.length;
              const append = res.data.slice(this.promos.length,this.promos.length + this.limit)          
              this.promos = this.promos.concat(append);
              if(this.promos.length === this.promo_total){
                $state.complete();
              }else{
                $state.loaded();
              }
              
          })
            
        }
    }
    
}
</script>
