<template>
  <v-app light>
    <AppBarHome v-if="appBarType === 'home'" />
    <AppBarProduct v-if="appBarType === 'product'" />
    <v-content>
      <v-container class="master-container">
        <nuxt />
      </v-container>
    </v-content>
    <!-- <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
     
    </v-footer> -->
    <v-footer  v-if="this.$route.name === 'index'" height="80" color="white">
    </v-footer>
    <v-bottom-navigation
      v-if="this.$route.path === '/' || this.$route.path === '/account' || this.$route.path === '/login' || this.$route.path === '/help' || this.$route.path === '/cart'"
      v-model="activeBtn"
      color="#A7C22A"
      mandatory
      grow
      class="px-3"
      app

    >
      <v-btn fixed left x-small class="btn-bottom-nav" to="/">
        <span class='span-bottom-nav'>Beranda</span>
        <v-icon medium>mdi-home-variant</v-icon>
      </v-btn>
    
    
      <v-btn x-small class="btn-bottom-nav">
        <span class='span-bottom-nav'>Pesan</span>
        <v-icon medium>mdi-email</v-icon>
      </v-btn>
    
      <v-btn x-small class="btn-bottom-nav" to="/cart">
        <span class='span-bottom-nav'>Keranjang</span>
        <v-badge
          color="red"
          content="6"
          offset-x="9"
          offset-y="12"
          bordered
        >
          <v-icon medium>mdi-cart-outline</v-icon>
        </v-badge>
      </v-btn>
      <v-btn x-small class="btn-bottom-nav" to="/help">
        <span class='span-bottom-nav'>Bantuan</span>
        <v-icon medium>mdi-help-circle-outline</v-icon>
      </v-btn>
    
      <v-btn fixed right x-small class="btn-bottom-nav" to="/account">
        <span class='span-bottom-nav'>Akun</span>
        <v-icon medium>mdi-account-outline</v-icon>
      </v-btn>
      
    </v-bottom-navigation>
  </v-app>
</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
</style>

<script>
import AppBarHome from '~/components/appbar/AppBarHome.vue'
import AppBarProduct from '~/components/appbar/AppBarProduct.vue'
export default {
  components: {
    // Logo,
    // VuetifyLogo,
    // Product,
    AppBarHome,
    AppBarProduct,
  },
  data () {
    return {
      activeBtn: '',
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
      appBarType: '',
    }
  },
  mounted(){
    console.log(this.$route.name)
  },
  watch:{
    $route (to, from){
        if(this.$route.name === 'index' || this.$route.path === '/'){
          this.appBarType = 'home'
          this.activeBtn = 0
        }
        else if(String(this.$route.name).includes('product') || String(this.$route.name).includes('promo') || String(this.$route.name).includes('best-seller')
                || String(this.$route.name).includes('category')){
          this.appBarType = 'product'
          // this.activeBtn = 4
        }
        else if(String(this.$route.name).includes('cart')){
          this.appBarType = 'cart'
          this.activeBtn = 2
        }
        else if(String(this.$route.name).includes('help')){
          this.appBarType = 'help'
          this.activeBtn = 3
        }
        else if(String(this.$route.name).includes('account')){
          this.appBarType = 'account'
          this.activeBtn = 4
        }
        else{
          this.appBarType = ''
        }
       
    }
  },
  methods: {
    checkRoute(){
      if(this.$route.name === 'index' || this.$route.path === '/'){
          this.appBarType = 'home'
          this.activeBtn = 0
        }
      else if(String(this.$route.name).includes('product') || String(this.$route.name).includes('promo') || String(this.$route.name).includes('best-seller')
              || String(this.$route.name).includes('category')){
        this.appBarType = 'product'
        // this.activeBtn = 4
      }
      else if(String(this.$route.name).includes('cart')){
        this.appBarType = 'cart'
        this.activeBtn = 2
      }
      else if(String(this.$route.name).includes('help')){
        this.appBarType = 'help'
        this.activeBtn = 3
      }
      else if(String(this.$route.name).includes('account')){
        this.appBarType = 'account'
        this.activeBtn = 4
      }
      else{
        this.appBarType = ''
      }
    }
  },
  created () {
      this.checkRoute()
     
  },
  updated(){
    console.log(this.activeBtn)
  },
  destroyed () {
     
  }
}
</script>

<style scoped>
.span-bottom-nav{
  font-size: 9px;
}
.v-btn:not(.v-btn--round).v-size--x-small {
    height: inherit !important;
    min-width: 80px !important;
    /* padding: 0 8.8888888889px; */
}

</style>

