<template>
    <v-card outlined width="100%" style="border-width:1.5px" :loading="loading">
        <v-row class="ml-1" align="start" >
            <v-col cols="1" style="display:inline-block" class="pl-1">
                <v-checkbox class="mt-0"></v-checkbox>
            </v-col>
            <v-col cols="3" style="display:inline-block" class="pt-4">
                <v-img :width="imageHeight" class="" src="https://via.placeholder.com/150"></v-img>
            </v-col>
            <v-col cols="7" style="display:inline-block" >
                <v-row style="max-height:45px;overflow:hidden;">
                    <span><b style="color:black;font-weight:900;font-size:14px;">NIKE Air Zoom Pedsddsdsdsdsdddsdsddsdddgasus 36 Miami</b></span>
                </v-row>
                <v-row>
                    <span><b class="caption">150 gram</b></span>
                </v-row>
                <v-row>
                    <v-btn-toggle
                    borderless
                    class="pr-1"
                    >
                        <v-btn icon height="30" x-small>
                        <v-icon color="#ABCF2A">mdi-minus</v-icon>
                        </v-btn>
                        <v-text-field type="number" color="#ABCF2A" class="mt-0 pt-0 centered-input" style="width:40px;" single-line height="30" hide-details ></v-text-field>
                        <v-btn icon height="30" x-small>
                        <v-icon color="#ABCF2A">mdi-plus</v-icon>
                        </v-btn>
                    </v-btn-toggle>
                    <span style="font-size:10px;padding-top:6px;">@ RP 200.000,-</span>
                </v-row>
                <v-row>
                    <v-col cols="9" class="pl-1 pb-0">
                        <b style="color:#34B36A;font-weight:800">Rp200.000,-</b>
                    </v-col>
                    <v-col cols="1" class="px-0 pb-0">
                        <v-icon color="#FB7181">mdi-heart</v-icon>
                    </v-col>
                    <v-col cols="1" class="pb-0">
                        <v-icon color="#9DA5BB">mdi-delete</v-icon>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-divider></v-divider>
        <center class="py-1" v-if="message === false" @click="message = !message"><b class="tokomana-green" style="font-weight:500">Tulis Catatan</b><v-icon color="#ABCF2A" small>mdi-pencil</v-icon></center> 
        <v-expand-transition>
            <div v-show="message" class="px-4 py-2">
                <v-textarea label="Catatan" clearable auto-grow rows="1" counter="100" autofocus v-on:blur="emptyMessage"></v-textarea>  
            </div>
        </v-expand-transition>
        
    </v-card>
</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
</style>

<script>


export default {
    components: {
    
    },
    props:{
        loading: Boolean,
    },
    data(){
        return{
            message: false
        }
    },
    methods:{
        emptyMessage(e){
            if(e.target.value === null || e.target.value === ''){
                this.message = false;
            }
            else{
                this.message = true;
            }
        }
    },
    computed: {
        imageHeight () {
        switch (this.$vuetify.breakpoint.name) {
            case 'xs': return '60px'
            case 'sm': return '120px'
            case 'md': return '150px'

        }
        },
    },
}
</script>

<style scoped>
.v-text-field .v-input__control .v-input__slot {
    min-height: auto !important;
    display: flex !important;
    align-items: center !important;
  }
  .centered-input >>> input {
      text-align: center
    }
</style>