<template>
    <v-card class="mr-3" width="150" min-height="288" max-height="330" :to="`product/${data.id}`">
        <div class="card-body pa-2 pt-3">
          <div v-if="!data.promo" class="promo-label">SALE</div>
          <center>
              <v-lazy class="product-page-image">
                <v-lazy-image class="product-page-image" 
                :src="imageUrl+data.image"
                src-placeholder="https://tokomanamana.com/assets/frontend/images/load_banner_mobile.gif"
                />
              </v-lazy>
          </center>
          <v-card-title primary-title class="pa-0">
            <div class="caption mb-1 pb-0 pt-2 font-weight-bold" style="min-height:43px; max-height:43px;min-width:120px;overflow-y:hidden;">{{ data.name.length > 35 ? data.name.slice(0, 35) + '...' : data.name }}</div><br>
            <div>
              <div class="text-11"><i class="fa fa-eye"></i> {{ data.viewed }}</div>
              <div class="body-2 font-weight-bold primary--text"> {{ data.price }}</div>
              <div v-if="!data.promo" class="body-2"><b class="caption grey--text" style="text-decoration:line-through">{{ data.price_old }}</b><b class="caption red--text ml-1 font-weight-bold">{{promo_data}}</b></div>
              <div class="text-11">Jakarta</div>
              <div>
                <div v-if="data.freeongkir" class="free-ongkir-label">Free Ongkir</div>
                <div v-if="data.preorder" class="preorder-label">Preorder</div>
              </div>
            </div>
          </v-card-title>
        </div>
    </v-card>
    <!-- <swiper>
        <swiper-slide v-for="promo in product_promo.slice(0, 5)" :key="promo.id">
        <v-card width="200">
            <div class="card-body pa-2 pt-3">
            <v-img :src="imageUrl+promo.image"></v-img>
            <br>
            <p v-if="promo.name.length < 20" class="text-11 font-weight-bold">{{ promo.name }}</p>
            <p v-else-if="promo.name.length < 30" class="text-11 mb-0 font-weight-bold">{{ promo.name }}</p>
            <p v-else class="text-11 mb-0 font-weight-bold">{{ promo.name.slice(0, 30) + '...' }}</p>
            <span><b class="text-9 grey--text" style="text-decoration:line-through">{{ promo.price_old }}</b><b class="text-10 primary--text"> {{ promo.price }}</b></span>
            <p class="text-10">Jakarta</p>
            <p class="text-10"><i class="fa fa-eye"></i> {{ promo.viewed }}</p>
            </div>
        </v-card>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
    </swiper> -->
</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
</style>

<script>
import axios from 'axios'
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import Product from '~/components/product/Product.vue'
// import func from '../vue-temp/vue-editor-bridge'

export default {
  scrollToTop: true,
  components: {
    Logo,
    VuetifyLogo,
    Product
  },
  props: ['data'],
  data(){
    return{
      brands:'',
      slider:'',
      home:'',
      product_promo:'',
      best_seller:'',
    }
  },
  computed:{
    limitstr: function(){
      if(this.product_promo.name.length > 5) {
        return this.product_promo.name.slice(0,4);
      }
      return this.product_promo.name;
    },
    imageUrl: function(){
      let bgUrl
      bgUrl = this.$store.state.init.base + 'files/images/'
      return bgUrl
    },
    promo_data: function(){
      let parsed_promo = JSON.parse(this.data.promo_data)
      if(parsed_promo.length !== 0){
        if(parsed_promo.type == 'P'){
          return parsed_promo.discount + '% Off';
        }
        else{
          return 'SALE';
        }
      }
      else{
        return '';
      }
      
    },
  },
  mounted(){
    this.getDataBrand()
    this.getDataBanner()  
    this.getDataHome()
    this.getProductPromo()
    this.getBestSeller() 
  },
  methods: {
    getDataBanner: function(){
      return axios.get(
        this.$store.state.init.base + 'api/index.php/customer/v6/banner/slider'
        ).then(( { data }) => {
          this.slider = data
        })  
    },
    getDataBrand: function(){
      return axios.get(
        this.$store.state.init.base + 'api/index.php/customer/v6/banner/brand'
        ).then(( { data }) => {
          this.brands = data
        })
    },
    getDataHome: function(){
      return axios.post(
        this.$store.state.init.base + 'api/index.php/customer/v6/home/init'
        ).then(( { data }) => {
          this.home = data
        })
    },
    getProductPromo: function(){
      return axios.post(
        this.$store.state.init.base + 'api/index.php/customer/v6/product/promo'
        ).then(( { data }) => {
          this.product_promo = data.reverse()
        })
    },
    getBestSeller: function(){
      return axios.get(
        this.$store.state.init.base + 'api/index.php/customer/v6/product/best_seller'
        ).then(( { data }) => {
          this.best_seller = data
        })
    },
    getProduct: function(id){
      const qs = require('querystring');
      axios.post(
        this.$store.state.init.base + 'api/index.php/customer/v6/product/view', qs.stringify({
          id: id
        }), {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
        })
        .then(function ( response ) {
          window.location = "/product"
        })
    }
  }
}
</script>