<template>

<div>
  <!-- <v-skeleton-loader
    v-if="loading"
    loading
    transition="scale-transition"
    type="avatar"
    class="ml-2 mt-5"
    
    >
  </v-skeleton-loader>
  <br v-if="loading">
  <v-skeleton-loader
    v-if="loading"
    loading
    tile
    transition="scale-transition"
    type="paragraph"
 
    >
  </v-skeleton-loader> -->
  <v-container class="pa-0" >
      <v-row class="mt-1 mb-1 ml-2">
          <v-col><span class="title font-weight-black">Akun</span></v-col>
          <v-col class="mr-2" ><v-btn icon style="float:right;" ><v-icon color='#ABCF2A'>mdi-settings</v-icon></v-btn></v-col>
      </v-row>
  </v-container>
  <div class="thin-line-seperator"></div>
  <v-container class="pa-0" >
      <v-row class="mt-6 mb-6 ml-4">
          <v-flex xs3 ><v-avatar size="80" style="background-color:gray;"></v-avatar></v-flex>
          <v-flex class="mt-6 pl-2"><b>Nama Customer</b></v-flex>
      </v-row>
  </v-container>
  <div class="thick-line-seperator"></div>
  <v-container class="pa-0" >
      <v-row class="mt-6 ml-4">
          <v-flex xs2 ><v-icon color="#ABCF2A" style="font-size:30px;position:relative;bottom:2px;">mdi-cash</v-icon></v-flex>
          <v-flex xs4 ><b>SALDO SAYA</b></v-flex>
          <v-flex xs5><b style="float:right;font-size:17px;color:#ABCF2A;">Rp 1.000.000</b></v-flex>
      </v-row>
      <v-row>
          <v-flex xs1 class="pt-0"><v-icon style="font-size:18px;color:#E0E0E0;position:relative;left:83px;">mdi-information</v-icon></v-flex>
          <v-flex xs8 class="pt-1"><p class="font-weight-light" style="font-size:11px;position:relative;left:78px;">Saat ini penarikan saldo hanya dapat dilakukan melalui website Tokomanamana.com</p></v-flex>
      </v-row>
  </v-container>
  <div class="thick-line-seperator"></div>
  <v-container >
      <nuxt-link to="account/profile" style="text-decoration:none;">
      <v-row class="ml-1" style="height:55px;" v-ripple >
        <v-flex xs2 ><v-icon color="#ABCF2A" class="prepend-icon-position">mdi-face</v-icon></v-flex>
        <v-flex xs4 >
            <p class="pa-0 ma-0 black--text" style="position:relative;top:12px;"><b>Profil Saya</b></p>
        </v-flex>
        <v-flex>
            <v-icon class="append-icon-chevron">mdi-chevron-right</v-icon>
        </v-flex>
      </v-row>
      </nuxt-link>
      <nuxt-link to="account/password" style="text-decoration:none;">
      <v-row class="ml-1" style="height:55px;" v-ripple >
        <v-flex xs2 ><v-icon color="#ABCF2A" class="prepend-icon-position">mdi-lock</v-icon></v-flex>
        <v-flex xs4 >
            <p class="pa-0 ma-0 black--text" style="position:relative;top:12px;"><b>Password</b></p>
        </v-flex>
        <v-flex>
            <v-icon class="append-icon-chevron">mdi-chevron-right</v-icon>
        </v-flex>
      </v-row>
      </nuxt-link>
      <nuxt-link to="account/shipping-address" style="text-decoration:none;">
      <v-row class="ml-1" style="height:55px;" v-ripple >
        <v-flex xs2 ><v-icon color="#ABCF2A" class="prepend-icon-position">mdi-map-marker-outline</v-icon></v-flex>
        <v-flex xs6>
            <p class="pa-0 ma-0 black--text" style="position:relative;top:12px;"><b>Alamat</b></p>
        </v-flex>
        <v-flex>
            <v-icon class="append-icon-chevron">mdi-chevron-right</v-icon>
        </v-flex>
      </v-row>
      </nuxt-link>
      <nuxt-link to="account/order-history" style="text-decoration:none;" >
      <v-row class="ml-1" style="height:55px;" v-ripple >
        <v-flex xs2 ><v-icon color="#ABCF2A" class="prepend-icon-position">mdi-shopping</v-icon></v-flex>
        <v-flex xs6>
            <p class="pa-0 ma-0 black--text" style="position:relative;top:12px;"><b>Riwayat Pesanan</b></p>
        </v-flex>
        <v-flex>
            <v-icon class="append-icon-chevron">mdi-chevron-right</v-icon>
        </v-flex>
      </v-row>
      </nuxt-link>
       <nuxt-link to="account/user-pembayaran" style="text-decoration:none;">
       <v-row class="ml-1" style="height:55px;" v-ripple >
        <v-flex xs2 ><v-icon color="#ABCF2A" class="prepend-icon-position">mdi-credit-card</v-icon></v-flex>
        <v-flex xs6>
            <p class="pa-0 ma-0 black--text" style="position:relative;top:12px;"><b>Pembayaran</b></p>
        </v-flex>
        <v-flex>
            <v-icon class="append-icon-chevron">mdi-chevron-right</v-icon>
        </v-flex>
      </v-row>
       </nuxt-link>
      
  </v-container>
</div>
</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
    
</style>

<script>
import axios from 'axios'

export default {
    scrollToTop: true,
    components:{
      
    },
    data(){
        return{
            loading: true,
        }
    },
    methods: {
        
        
    },
    watch:{
      
    },
  
    computed:{
        imageUrl: function(){
            let bgUrl
            bgUrl = this.$store.state.init.base + 'files/images/'
            return bgUrl
        },
       
    },
    mounted(){
        

        this.loading = false;

  
    }
}
</script>

<style scoped>
.prepend-icon-position{
    font-size:30px;position:relative;top:10px;
}
.append-icon-chevron{
    float:right;font-size:30px;position:relative;top:10px;
}
</style>