<template>
    <div style="margin:0px -11px;">
        <v-toolbar class="app-bar-gradient" style="margin-top:-12px">
        <nuxt-link to="/account" style="text-decoration:none" class="pr-3 pl-0">
        
            <v-icon color="white">mdi-chevron-left</v-icon>
        
        </nuxt-link>
        <v-toolbar-title class="font-weight-bold subtitle-1 white--text">Riwayat Pesanan</v-toolbar-title>
        <v-spacer></v-spacer>
        </v-toolbar>
        <v-container class="mt-2">
           <v-row class="ml-auto mr-auto mb-4" v-for="status in [{id:1,status:'success'},{id:2,status:'expired'},{id:3,status:'pending'}]" :key="status.id">
             <OrderHistoryCard :loading="loading" :status="status" /> 
           </v-row>
           

        </v-container>
    </div>
</template>


<script>
import OrderHistoryCard from '~/components/OrderHistoryCard.vue'
export default {
    components:{
        OrderHistoryCard
    },
    data(){
        return{
           loading:true,
        }
    },
    watch: {
      
    },
    methods: {
       
    },
    mounted(){
        this.loading = false;
    }
}
</script>

<style scoped>

</style>>
