<template>
    <div style="margin:0px -11px;">
        <v-toolbar class="app-bar-gradient" style="margin-top:-12px">
        <v-btn icon dark @click="$router.go(-1)">
            <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-toolbar-title class="font-weight-bold subtitle-1 white--text">Password</v-toolbar-title>
        <v-spacer></v-spacer>
        </v-toolbar>
        <v-container class="mt-2">
           <v-row class="mx-auto">
                <v-col class="mb-0 pb-0">
                    <v-text-field
                    label="Password Lama"
                    outlined
                    prepend-inner-icon="mdi-lock-outline">
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row class="mx-auto">
                <v-col class="mb-0 pb-0">
                    <v-text-field
                    label="Password Baru"
                    outlined
                    prepend-inner-icon="mdi-lock">
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row class="mx-auto">
                <v-col class="mb-0 pb-0">
                    <v-text-field
                    label="Konfirmasi Password"
                    outlined
                    prepend-inner-icon="mdi-lock">
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row class="mx-auto">
                <v-col cols="7">
                    <v-text-field
                    label="Kode OTP"
                    outlined>
                    </v-text-field>
                </v-col>
                <v-col cols="5">
                    <center>
                    <v-btn color="#ABCF2A" class="white--text" height="54px">
                        <b>Send OTP</b>
                    </v-btn>
                    </center>
                </v-col>
            </v-row>
            <v-app-bar
            fixed
            bottom
            elevation="6">
                <v-row>
                <v-col>
                    <v-btn block color="#ABCF2A" class="white--text" >Simpan</v-btn>
                </v-col>
                </v-row>
            </v-app-bar>

        </v-container>
    </div>
</template>


<script>
export default {
    data(){
        return{
           
        }
    },
    watch: {
      
    },
    methods: {
       
    },
}
</script>

<style>

</style>