<template>
    <div style="margin:0px -11px;">
        <v-toolbar class="app-bar-gradient" style="margin-top:-12px">
        <v-btn icon dark @click="$router.go(-1)">
            <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-toolbar-title class="font-weight-bold subtitle-1 white--text">Profil Saya</v-toolbar-title>
        <v-spacer></v-spacer>
        </v-toolbar>
        <v-container class="mt-2">
            <!-- profile-picture -->
            <v-row class="mx-3 mb-5">
            <v-dialog v-model='profile_picture' fullscreen hide-overlay transition="slide-x-transition">
            <template v-slot:activator="{ on }">
                <v-col><center><v-avatar class="ml-5" size="90" style="background-color:gray;"></v-avatar>
                <v-icon color="#ABCF2A" class="avatar-pencil-icon" v-on="on">mdi-pencil-circle</v-icon></center></v-col>
            </template>
            <v-card>
                <v-toolbar class="app-bar-gradient">
                <v-btn icon dark @click="profile_picture = false">
                    <v-icon>mdi-chevron-left</v-icon>
                </v-btn>
                <v-toolbar-title class="font-weight subtitle-1 white--text">Ubah Profile Picture</v-toolbar-title>
                <v-spacer></v-spacer>
                </v-toolbar>
                <v-flex>
                <p class="font-regular subtitle-2 ml-5 mr-4 mt-5"></p>
                </v-flex>
            </v-card>
            </v-dialog>
            </v-row>
            <!-- email -->
            <v-row class="mx-3">
                <v-col cols="10" class="pa-0"><p class="mb-0 body-2 font-weight-thin">Email <v-chip pill x-small color="#ABCF2A" class="white--text">Terverfikasi</v-chip></p><p class="font-weight-medium body-1">test@gmail.com</p></v-col>
                
                <v-dialog v-model='email' fullscreen hide-overlay transition="slide-x-transition">
                <template v-slot:activator="{ on }">
                   <v-col cols="1"><b style="color:#ABCF2A;" v-on="on">Ubah</b></v-col>
                </template>
                <v-card>
                    <v-toolbar class="app-bar-gradient">
                    <v-btn icon dark @click="email = false">
                        <v-icon>mdi-chevron-left</v-icon>
                    </v-btn>
                    <v-toolbar-title class="font-weight subtitle-1 white--text">Ubah Email</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-row class="mx-3 mt-5">
                        <v-col class="mb-0 pb-0">
                            <v-text-field
                            label="Email Baru"
                            outlined
                            prepend-inner-icon="mdi-email-outline">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row class="mx-3">
                        <v-col cols="7">
                            <v-text-field
                            label="Kode OTP"
                            outlined>
                            </v-text-field>
                        </v-col>
                        <v-col cols="5">
                            <center>
                            <v-btn color="#ABCF2A" class="white--text" height="54px">
                                <b>Send OTP</b>
                            </v-btn>
                            </center>
                        </v-col>
                    </v-row>
                    <v-app-bar
                    fixed
                    bottom
                    elevation="6">
                        <v-row>
                        <v-col>
                            <v-btn block color="#ABCF2A" class="white--text" >Simpan</v-btn>
                        </v-col>
                        </v-row>
                    </v-app-bar>
                </v-card>
                </v-dialog>
            </v-row>
            <!-- name -->
            <v-row class="mx-3">
                <v-col cols="10" class="pa-0"><p class="mb-0 body-2 font-weight-thin">Nama Lengkap</p><p class="font-weight-medium body-1">Test Keren</p></v-col>
                <v-dialog v-model='fullname' fullscreen hide-overlay transition="slide-x-transition">
                <template v-slot:activator="{ on }">
                   <v-col cols="1"><b style="color:#ABCF2A;" v-on="on">Ubah</b></v-col>
                </template>
                <v-card>
                    <v-toolbar class="app-bar-gradient">
                    <v-btn icon dark @click="fullname = false">
                        <v-icon>mdi-chevron-left</v-icon>
                    </v-btn>
                    <v-toolbar-title class="font-weight subtitle-1 white--text">Ubah Nama Lengkap</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-row class="mx-3 mt-5">
                        <v-col class="mb-0 pb-0">
                            <v-text-field
                            label="Nama Lengkap Baru"
                            outlined>
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-app-bar
                    fixed
                    bottom
                    elevation="6">
                        <v-row>
                        <v-col>
                            <v-btn block color="#ABCF2A" class="white--text" >Simpan</v-btn>
                        </v-col>
                        </v-row>
                    </v-app-bar>
                </v-card>
                </v-dialog>
            </v-row>
            <v-row class="mx-3">
                <v-col cols="10" class="pa-0"><p class="mb-0 body-2 font-weight-thin">No. HP <v-chip pill x-small color="#ABCF2A" class="white--text">Terverfikasi</v-chip></p><p class="font-weight-medium body-1">312312332133</p></v-col>
                <!-- <v-dialog v-model='phone' fullscreen hide-overlay transition="slide-x-transition">
                <template v-slot:activator="{ on }">
                   <v-col cols="1"><b style="color:#ABCF2A;" v-on="on">Ubah</b></v-col>
                </template>
                <v-card>
                    <v-toolbar color="light-green">
                    <v-btn icon dark @click="phone = false">
                        <v-icon>mdi-chevron-left</v-icon>
                    </v-btn>
                    <v-toolbar-title class="font-weight subtitle-1 white--text">Ubah No.HP</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-flex>
                    <p class="font-regular subtitle-2 ml-5 mr-4 mt-5"></p>
                    </v-flex>
                </v-card>
                </v-dialog> -->
            </v-row>
            <v-row class="mx-3">
                <v-col cols="10" class="pa-0"><p class="mb-0 body-2 font-weight-thin">Tanggal Lahir</p><p class="font-weight-medium body-1">09 Januari 2001</p></v-col>
                <v-dialog v-model='birth' fullscreen hide-overlay transition="slide-x-transition">
                <template v-slot:activator="{ on }">
                   <v-col cols="1"><b style="color:#ABCF2A;" v-on="on">Ubah</b></v-col>
                </template>
                <v-card>
                    <v-toolbar class="app-bar-gradient">
                    <v-btn icon dark @click="birth = false">
                        <v-icon>mdi-chevron-left</v-icon>
                    </v-btn>
                    <v-toolbar-title class="font-weight subtitle-1 white--text">Ubah Tanggal Lahir</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-row class="mx-3 mt-5">
                    <v-menu
                    ref="birthday_menu"
                    v-model="birthday_menu"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                        v-model="birth_date_data"
                        label="Birthday date"
                        readonly
                        outlined
                        v-on="on"
                        prepend-inner-icon="mdi-cake-variant"
                        ></v-text-field>
                    </template>
                    <v-date-picker
                        ref="picker"
                        locale="id"
                        v-model="birth_date_data"
                        :max="new Date().toISOString().substr(0, 10)"
                        min="1950-01-01"
                        @change="save"
                    ></v-date-picker>
                    </v-menu>
                    </v-row>
                    <v-app-bar
                    fixed
                    bottom
                    elevation="6">
                        <v-row>
                        <v-col>
                            <v-btn block color="#ABCF2A" class="white--text" >Simpan</v-btn>
                        </v-col>
                        </v-row>
                    </v-app-bar>
                </v-card>
                </v-dialog>
            </v-row>
            <v-row class="mx-3">
                <v-col cols="10" class="pa-0"><p class="mb-0 body-2 font-weight-thin">Jenis Kelamin</p><p class="font-weight-medium body-1">Pria</p></v-col>
                <v-dialog v-model='gender' fullscreen hide-overlay transition="slide-x-transition">
                <template v-slot:activator="{ on }">
                   <v-col cols="1"><b style="color:#ABCF2A;" v-on="on">Ubah</b></v-col>
                </template>
                <v-card>
                    <v-toolbar class="app-bar-gradient">
                    <v-btn icon dark @click="gender = false">
                        <v-icon>mdi-chevron-left</v-icon>
                    </v-btn>
                    <v-toolbar-title class="font-weight subtitle-1 white--text">Ubah Jenis Kelamin</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-row align="center" justify="center">
                        <v-col class="ml-3">
                         <v-radio-group  row mandatory v-model="radioGroup">
                            <label><b>Jenis Kelamin</b></label>
                            <v-spacer></v-spacer>
                            <v-radio label="Pria"></v-radio>
                            <v-radio label="Wanita"></v-radio>
                        </v-radio-group>
                        </v-col>
                    </v-row>
                    <v-app-bar
                    fixed
                    bottom
                    elevation="6">
                        <v-row>
                        <v-col>
                            <v-btn block color="#ABCF2A" class="white--text" >Simpan</v-btn>
                        </v-col>
                        </v-row>
                    </v-app-bar>
                </v-card>
                </v-dialog>
            </v-row>
            

        </v-container>
    </div>
</template>


<script>
export default {
    data(){
        return{
            profile_picture:false,
            email:false,
            fullname:false,
            phone:false,
            birth:false,
            birth_date_data:null,
            birthday_menu: false,
            gender:false,
            radioGroup:1,
        }
    },
    watch: {
        birthday_menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
        },
    },
    methods: {
        save (birth_date_data) {
        this.$refs.birthday_menu.save(birth_date_data)
        },
    },
}
</script>

<style>
.avatar-pencil-icon{
    position:relative !important;z-index:3;right: 27px;top: 36px;
}
</style>