<template>
    <div style="margin:0px -11px;">
        <v-toolbar class="app-bar-gradient" style="margin-top:-12px">
        <v-btn icon dark @click="$router.go(-1)">
            <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-toolbar-title class="font-weight-bold subtitle-1 white--text">Alamat</v-toolbar-title>
        <v-spacer></v-spacer>
        </v-toolbar>
        <v-container class="mt-2">
           <v-row class="ml-auto mr-auto">
             <AddressComponent :loading="loading" /> 
           </v-row>
            <v-app-bar
            fixed
            bottom
            elevation="6">
                <v-row>
                
                    <v-dialog v-model='tambahAlamat' fullscreen hide-overlay transition="slide-x-transition">
                    <template v-slot:activator="{ on }">
                    <v-col><v-btn block color="#ABCF2A" class="white--text" v-on="on" ><v-icon>mdi-plus</v-icon>Tambah</v-btn></v-col>
                    </template>
                    <v-card>
                        <v-toolbar class="app-bar-gradient">
                        <v-btn icon dark @click="tambahAlamat = false">
                            <v-icon>mdi-chevron-left</v-icon>
                        </v-btn>
                        <v-toolbar-title class="font-weight subtitle-1 white--text">Tambah Alamat</v-toolbar-title>
                        <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-row class="mx-3 mt-5">
                            <v-col class="mb-0 pb-0">
                                <v-text-field
                                label="Simpan Alamat Sebagai"
                                outlined>
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="mx-3">
                            <v-col class="mb-0 pb-0" >
                                <v-text-field
                                label="Nama Penerima"
                                outlined>
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="mx-3">
                            <v-col class="mb-0 pb-0">
                                <v-text-field
                                label="No. Handphone"
                                outlined>
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="mx-3">
                            <v-col class="mb-0 pb-0" >
                                <v-text-field
                                label="Kode Pos"
                                outlined>
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="mx-3">
                            <v-col class="mb-0 pb-0">
                                <v-select outlined
                                label="Provinsi">
                                </v-select>
                            </v-col>
                        </v-row>
                        <v-row class="mx-3">
                            <v-col class="mb-0 pb-0">
                                <v-select outlined
                                label="Kota">
                                </v-select>
                            </v-col>
                        </v-row>
                         <v-row class="mx-3">
                            <v-col class="mb-0 pb-0">
                                <v-select outlined
                                label="Kecamatan">
                                </v-select>
                            </v-col>
                        </v-row>
                        <v-row class="mx-3">
                            <v-col class="mb-0 pb-0">
                                <v-textarea outlined
                                auto-grow
                                rows="2"
                                label="Alamat">
                                </v-textarea>
                            </v-col>
                        </v-row>
                        <v-row class="mx-3">
                            <v-col class="my-0 py-0">
                                <v-checkbox class="mt-0" label="Jadikan ini alamat utama saya">
                                </v-checkbox>
                            </v-col>
                        </v-row>
                        <v-app-bar
                        fixed
                        bottom
                        elevation="6">
                            <v-row>
                            <v-col>
                                <v-btn block color="#ABCF2A" class="white--text" >Simpan</v-btn>
                            </v-col>
                            </v-row>
                        </v-app-bar>
                    </v-card>
                    </v-dialog>
                    
                
                </v-row>
            </v-app-bar>

        </v-container>
    </div>
</template>


<script>
import AddressComponent from '~/components/AddressComponent.vue'
export default {
    components:{
        AddressComponent
    },
    data(){
        return{

           tambahAlamat:false,
           loading:true,
        }
    },
    watch: {
      
    },
    methods: {
       
    },
    mounted(){
        this.loading = false;
    }
}
</script>

<style scoped>

</style>>
