<template>
    <div style="margin:0px -11px;">
        <v-toolbar class="app-bar-gradient" style="margin-top:-12px">
        <v-btn icon dark @click="$router.go(-1)">
            <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-toolbar-title class="font-weight-bold subtitle-1 white--text">Pembayaran</v-toolbar-title>
        <v-spacer></v-spacer>
        </v-toolbar>
        <v-container class="mt-2">
           <v-row class="ml-auto mr-auto">
               <v-card outlined width="100%" :loading="loading"   >
                <v-card-title class="font-weight-thin grey--text">
                    Bank BRI
                </v-card-title>
                <v-card-subtitle class="font-weight-bold title black--text pb-0">
                    3132345 <v-chip pill small color="#ABCF2A" class="white--text">Utama</v-chip>
                </v-card-subtitle>
                <v-card-text class="subtitle-1 pb-1">
                    a.n <b class="black--text">Abang Keren</b>
                </v-card-text>
                
                    <v-dialog v-model="hapus">
                        <template v-slot:activator="{ on }">
                            <v-btn outlined color="#ABCF2A" style="float:right;" class="font-weight-bold mx-4 mb-5" v-on="on">Hapus</v-btn>
                        </template>
                        <v-card per>
                            <v-card-title class="title" style="word-break: normal;">Anda yakin mau membuang rekening ini?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="red darken-1" text @click="hapus = false">Tidak</v-btn>
                                <v-btn color="green darken-1" text @click="hapus = false">Iya</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    
                
               </v-card>
           </v-row>
            <v-app-bar
            fixed
            bottom
            elevation="6">
                <v-row>
                
                    <v-dialog v-model='tambahRekening' fullscreen hide-overlay transition="slide-x-transition">
                    <template v-slot:activator="{ on }">
                    <v-col><v-btn block color="#ABCF2A" class="white--text" v-on="on" >Tambah Rekening</v-btn></v-col>
                    </template>
                    <v-card>
                        <v-toolbar class="app-bar-gradient">
                        <v-btn icon dark @click="tambahRekening = false">
                            <v-icon>mdi-chevron-left</v-icon>
                        </v-btn>
                        <v-toolbar-title class="font-weight subtitle-1 white--text">Tambah Rekening</v-toolbar-title>
                        <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-row class="mx-3 mt-4">
                            <v-col class="mb-0 pb-0">
                                <v-select outlined
                                label="Nama Bank">
                                </v-select>
                            </v-col>
                        </v-row>
                        <v-row class="mx-3">
                            <v-col class="mb-0 pb-0">
                                <v-text-field outlined
                                label="Cabang">
                                </v-text-field>
                            </v-col>
                        </v-row>
                          <v-row class="mx-3">
                            <v-col class="mb-0 pb-0">
                                <v-text-field outlined
                                label="Nomer Rekening">
                                </v-text-field>
                            </v-col>
                        </v-row>
                         <v-row class="mx-3">
                            <v-col class="mb-0 pb-0">
                                <v-text-field outlined
                                label="Nama Pemilik Rekening">
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="mx-3">
                            <v-col class="mb-0 pb-0">
                                <i class="caption">*Pastikan Nomor Rekening & Nama Pemilik Rekening Sesuai Buku Tabungan</i>
                            </v-col>
                        </v-row>
                        <v-app-bar
                        fixed
                        bottom
                        elevation="6">
                            <v-row>
                            <v-col>
                                <v-btn block color="#ABCF2A" class="white--text" >Simpan</v-btn>
                            </v-col>
                            </v-row>
                        </v-app-bar>
                    </v-card>
                    </v-dialog>
                    
                
                </v-row>
            </v-app-bar>

        </v-container>
    </div>
</template>


<script>
export default {
    data(){
        return{
           hapus:false,
           tambahRekening:false,
           loading:true,
        }
    },
    watch: {
      
    },
    methods: {
       
    },
    mounted(){
        this.loading = false;
    }
}
</script>

<style scoped>
.v-card--outlined{
    border: 1.3px solid rgba(0, 0, 0, 0.12) !important;
}
</style>