<template>
<div style="margin:0px -11px; margin-top:-10px">
  <v-skeleton-loader
    v-if="loading"
    loading
    transition="scale-transition"
    type="image"
    
    >
  </v-skeleton-loader>
  <v-skeleton-loader
    v-if="loading"
    loading
    tile
    transition="scale-transition"
    type="list-item-avatar-three-line"
 
    >
  </v-skeleton-loader>
<v-layout  v-if="konten">
    
    <v-carousel class="product-carousel grey lighten-2"
      height="300"
      :show-arrows="false"
      hide-delimiter-background
      show-arrows-on-hover
      :cycle="false"
      
    >
      <v-carousel-item
         v-for="(slide, i) in konten.images"
        :key="i"
      >
          <v-row
            class="fill-height"
            align="center"
            justify="center"
          >
              <v-img contain class="ma-0 pa-0" height="300" width="415" :src="imageUrl+slide.image" ></v-img>
          </v-row>
      </v-carousel-item>
    </v-carousel>
</v-layout>
<!-- Product title -->
<br>
<v-layout v-if="konten">
  <v-flex xs12>
    <v-container class="pt-0">
      <v-row >
        <v-flex xs10>
          <div class="ml-5 title font-weight-black" >{{ konten.name }}
          </div>
        </v-flex>
        <v-flex xs1>
          <v-btn text><v-icon>mdi-heart-outline</v-icon></v-btn>
        </v-flex>
      </v-row>
      <v-container class="mb-2">
        <v-row>
          <span v-if="konten.promo == 1" style="text-decoration:line-through;" class="mx-0 price_old font-weight-medium grey--text">{{price_rupiah(konten.price_old)}}</span>
          <span v-if="konten.promo == 1" class="promo-label-page">{{promo_data}}</span>
          <!-- <span v-if="konten.promo == 1"  class="mx-0 price_old font-weight-black red--text " >{{promo_data}}</span> -->
        </v-row>
        <v-row>
          <span class="title font-weight-black light-green--text text--lighten-2" style="padding-left:10px;">{{price_rupiah(konten.price)}}</span> 
        </v-row>
        <v-row>
          <v-col class="font-weight-black subtitle-1 pb-0">Harga Grosir</v-col>
        </v-row>
        <v-row dense>
          <v-col>
            <v-card outlined style="border-color:#B5D14F;border-width:2px;" height="100%" class="text-center">
              <p class="caption px-1 py-0 mb-0 grey--text">5-8 pc</p>
              <p class="subtitle-1 mb-0 px-1 py-0 font-weight-black" style="color:#B5D14F;">Rp 299.000</p>
              <p class="caption px-1 py-0 mb-0 grey--text" style="text-decoration:line-through">Rp 350.000</p>
            </v-card>
          </v-col>
          <v-col>
             <v-card outlined style="border-color:#B5D14F;border-width:2px;" height="100%" class="text-center">
              <p class="caption px-1 py-0 mb-0 grey--text">5-8 pc</p>
              <p class="subtitle-1 mb-0 px-1 py-0 font-weight-black" style="color:#B5D14F;">Rp 299.000</p>
              <p class="caption px-1 py-0 mb-0 grey--text" style="text-decoration:line-through">Rp 350.000</p>
            </v-card>
          </v-col>
          <v-col>
            <v-card outlined style="border-color:#B5D14F;border-width:2px;" height="100%" class="text-center">
              <p class="caption px-1 py-0 mb-0 grey--text">5-8 pc</p>
              <p class="subtitle-1 mb-0 px-1 py-0 font-weight-black" style="color:#B5D14F;">Rp 299.000</p>
              <p class="caption px-1 py-0 mb-0 grey--text" style="text-decoration:line-through">Rp 350.000</p>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <v-row class="mb-3 px-1" v-if="konten.preorder !== '0'">
        <span v-if="konten.preorder === '1'" class="font-weight-light caption red--text promo-preorder-info-text">Barang akan diproses selama {{konten.preorder_time}} hari</span>
        <span v-if="konten.preorder === '2'" class="font-weight-light caption red--text promo-preorder-info-text">Barang akan ada pada {{$moment(konten.coming_soon_time).format('D MMMM YYYY')}}</span>
      </v-row>
      <v-row>
        <v-flex xs4>
          <center>
            <p class="font-weight-light caption  mb-1"><v-icon>mdi-eye</v-icon>  Dilihat</p>
            <p class="font-weight-light caption  mt-0">{{ konten.viewed}}</p>
          </center>
        </v-flex>
        <v-flex xs4>
          <center>
            <span class="font-weight-light body-2 mb-1"><v-icon color="#FFC833" class="pb-1" style="font-size:21px;">mdi-star</v-icon>4.5 / 5</span>
            <p class="font-weight-light caption pt-1 light-green--text text--lighten-2">50 Ulasan</p>
          </center>
        </v-flex>
        <v-flex xs4>
          <center>
            <p class="mb-1">
            <v-icon>mdi-truck-fast</v-icon>
            </p>
            <p class="font-weight-light caption light-green--text text--lighten-2 mt-0">Pengiriman</p>
          </center>
        </v-flex>
      </v-row>
    </v-container>
    <div style="height:8px;background-color:#F2F2F2;"></div>
    <v-container>
      <v-row>
        <v-flex class="font-weight-black subtitle-1 px-5 pb-2">
           Varian Produk
        </v-flex>
      </v-row>
      <v-row class="px-3">
        <v-radio-group class="px-2 mt-0" v-model="activeVariant" mandatory row hide-details>
          <v-radio  v-for="variant in variants" :key="variant" v-bind:class="[activeVariant === variant ? 'variant-circle-active' : 'variant-cirlce']" v-bind:style="{'background-color': variant,'border-radius':'50%'}"  :value="variant"></v-radio>
          <!-- <div class="variant-circle" v-bind:style="{'background-color': variant}" @click="activeVariant = !activeVariant">
            <div class="" value="variant">
            </div>
          </div> -->
        </v-radio-group>
      </v-row>
    </v-container>
    <div style="height:8px;background-color:#F2F2F2;"></div>
    <v-container>
      <v-row class="px-3">
        <v-flex>
          <v-row class="mb-1">
            <v-flex>
              <p class="font-weight-black subtitle-1 ml-5 mb-0">Cicilan</p>
            </v-flex>
          </v-row>
          <v-row>
            <v-flex>
              <p class="font-weight-light subtitle-1 ml-5 mb-1">Cicilan mulai dari</p>
            </v-flex>
          </v-row>   
        </v-flex>
        <v-flex right>
           <v-btn text class="font-weight-black subtitle-1 mt-2" style="float:right;"><v-icon>mdi-chevron-right</v-icon></v-btn>
        </v-flex>
      </v-row> 
    </v-container>
    <div style="height:8px;background-color:#F2F2F2;"></div>
    <v-container>
      <v-row>
        <v-flex>
           <p class="font-weight-black subtitle-1 ml-5">Informasi Produk</p>
        </v-flex>
      </v-row>
      <v-row>
        <v-flex>
           <p class="font-regular subtitle-2 ml-5">Berat</p>
        </v-flex>
        <v-flex xs3 style="float:left;">
          <center>
           <p class="font-regular subtitle-2">{{konten.weight}} Gram</p>
          </center>
        </v-flex>
      </v-row>
      <v-row>
        <v-flex>
           <p class="font-regular subtitle-2 ml-5">Kondisi</p>
        </v-flex>
        <v-flex xs3 style="float:left;">
          <center>
           <p class="font-regular subtitle-2">{{konten.weight}} Gram</p>
          </center>
        </v-flex>
      </v-row>
      <v-row>
        <v-flex>
           <p class="font-regular subtitle-2 ml-5">Pemensanan Min.</p>
        </v-flex>
        <v-flex xs3 style="float:left;">
          <center>
           <p class="font-regular subtitle-2">{{konten.weight}} Gram</p>
          </center>
        </v-flex>
      </v-row>
      <v-row>
        <v-flex>
           <p class="font-regular subtitle-2 ml-5">Kategori</p>
        </v-flex>
        <v-flex xs3 style="float:left;">
          <center>
           <p class="font-regular subtitle-2">{{konten.category}}</p>
          </center>
        </v-flex>
      </v-row>
      <br>
      <v-row>
        <v-flex class="font-weight-black subtitle-1 ml-5 mb-2">
           Deskripsi
        </v-flex>
      </v-row>
      <v-row>
        <v-flex v-bind:class="[!readmore ? 'descriptionMax' : '']"> 
           <p class="font-regular subtitle-2 mx-5">{{konten.description}}</p>
           <v-btn v-if="readmore" text class="font-regular subtitle-2 pa-0 ml-5 light-green--text text--lighten-2"  @click="readmore = !readmore">Lihat lebih sedikit</v-btn>
        </v-flex>
      </v-row>
      <v-row>
        <v-btn text class="font-regular subtitle-2 pa-0 ml-5 light-green--text text--lighten-2" v-if="(!readmore) && (konten.description.length > 200)" @click="readmore = !readmore">Lihat lebih lengkap</v-btn>
      </v-row>
    </v-container>
    <div style="height:8px;background-color:#F2F2F2;"></div>
    <!-- merchant info -->
    <v-container>
      <v-row class="px-5">
        <v-flex xs4 >
          <v-avatar class="responsive-avatar "  ></v-avatar>
        </v-flex >
        
        <v-flex xs8  >
          <v-row class="ml-2">
            <p class="font-weight-black subtitle-1 mb-0">Toko Elektronik</p>
          </v-row>
          <v-row class="ml-2">
            <p class="font-weight subtitle-2 grey--text mb-0">Sunter, Jakarta</p>
          </v-row>
          <v-row >
            <v-col>
            <v-btn color="gray" class="mr-1 px-3 ml-2 mb-0 product-view-button-small" block outlined>Chat Penjual</v-btn>
            </v-col>
            <v-col>
            <v-btn depressed color="#9CC215"  class="white--text ml-0.5 px-1 mb-0 product-view-button-small" block>Ikuti</v-btn>
            </v-col>
          </v-row>
        </v-flex>
           
      </v-row>
      <br>
      <v-row>
         <p class="font-weight-black subtitle-1 ml-5 mb-0">Lainnya dari penjual</p>
      </v-row>
      <v-row>
         <v-flex class="scroll pa-1 pl-4 pb-2">
            <v-flex xs5 mr-3 class="scroll-item" v-for="bseller in best_seller.slice(0, 5)" v-bind:key="bseller.id">
              <Product :data="bseller" />
            </v-flex>
          </v-flex> 
      </v-row>
    </v-container>
    <div style="height:8px;background-color:#F2F2F2;"></div>
    <!-- user review -->
    <v-container>
      <v-row class="mx-2">
        <v-flex class="font-weight-black subtitle-1 pb-2 pt-1">
          Ulasan Pembeli
        </v-flex>
        <v-flex right>
           <v-btn text class="font-weight-thin subtitle-2" color="primary" style="float:right;">Lihat</v-btn>
        </v-flex>
      </v-row>
      <v-row class="mx-1">
        <v-col cols="5" sm="4" class=" pa-0">
          <v-rating full-icon="mdi-star" half-icon="mdi-star-half" empty-icon="mdi-star-outline" readonly dense color="#FFC833" :value='4'></v-rating>
        </v-col>
        <v-col class=" pa-0">
          <span class="caption"><b>4.5</b> (5 Review)</span>
        </v-col>
      </v-row>
      
      <v-container class="mx-2">
        <v-row>
          <v-col cols="3" class="px-0">
            <v-avatar color="grey" :size="userReviewAvatarHeight"></v-avatar>
          </v-col>
          <v-col class="pl-0 pt-4">
            <v-row class="pl-1">
              <b>James Lawson</b>
            </v-row>
            <v-row>
              <v-rating size="20" full-icon="mdi-star" half-icon="mdi-star-half" empty-icon="mdi-star-outline" readonly dense color="#FFC833" :value='4'></v-rating>
            </v-row>
          </v-col>
        </v-row>
        <v-row style="max-height:120px;overflow:hidden;">
          <p class="body-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </v-row>
        <v-row>
          <v-col class="px-0">
           <v-img :width="userProductImage" class="rounded" src="https://via.placeholder.com/150"></v-img>
          </v-col>
        </v-row>
        <v-row class="overline">
          December 10, 2016
        </v-row>
      </v-container>
    </v-container>
    
        
  </v-flex>
  
</v-layout>
<!-- bottom-bar -->
<v-layout v-if="konten">
  <v-app-bar
      fixed
      bottom
      app
      elevation="6">
        <v-row>
          <v-col v-if="konten.preorder !== '2'">
            <v-btn  block color="gray" class="product-view-button-small" outlined>Beli</v-btn>
          </v-col>
          <v-col >
            <v-btn v-if="konten.preorder === '0'" block height="35" color="#9CC215" class="white--text product-view-button-small">Tambah ke Keranjang</v-btn>
            <v-btn v-else-if="konten.preorder === '1'" block height="35" color="#9CC215" class="white--text product-view-button-small">Preorder</v-btn>
            <v-btn v-else-if="konten.preorder === '2'" disabled block color="#9CC215" class="white--text product-view-button-small">Coming Soon</v-btn>
          </v-col>
        </v-row>
    </v-app-bar>
</v-layout>
</div>
</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
    
</style>

<script>
import axios from 'axios'
import Product from '~/components/product/Product.vue'


export default {
    components:{
      Product,
      
    },
    data(){
        return{
            readmore: false,
            konten: null,
            loading: true,
            best_seller:'',
            variants:['#FFC833','#40BFFF','#FB7181','#53D1B6'],
            activeVariant: '#FFC833',
            
        }
    },
    methods: {
        variantCheck(){

        },
        do_request (url, body) {
            var qs = require('qs')
            return axios({
                method: 'post',
                url: this.$store.state.init.base + url,
                data: qs.stringify(body)
            })
        },
        getBestSeller: function(){
          return axios.get(
            this.$store.state.init.base + 'api/index.php/customer/v6/product/best_seller'
            ).then(( { data }) => {
              this.best_seller = data
            })
        },
        price_rupiah: function(number){
          let reverse = number.toString().split('').reverse().join('')
          let ribuan = reverse.match(/\d{1,3}/g);
          ribuan = ribuan.join('.').split('').reverse().join('');
          return 'Rp ' + ribuan;
        },
        
    },
    watch:{
      
    },
    // async fetch ({ route }) {
    //     let apiUrl = 'https://tokomanamana.com/'
    //     let code = route.params.id
    //     const qs = require('querystring');
    //     await axios.post(
    //     apiUrl + 'api/index.php/customer/v6/product/view', qs.stringify({
    //       id: code
    //     }))
    //     .then(( { data }) => {
    //         console.log(data[0].name)
    //         let product = data[0]
    //     })
    // },
    computed:{
        imageUrl: function(){
            let bgUrl
            bgUrl = this.$store.state.init.base + 'files/images/'
            return bgUrl
        },
        
        userReviewAvatarHeight () {
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return '58px'
                case 'sm': return '78px'
                case 'md': return '90px'

            }
        },
        userProductImage () {
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return '70px'
                case 'sm': return '85px'
                case 'md': return '95px'

            }
        },
        promo_data: function(){
          let parsed_promo = JSON.parse(this.konten.promo_data)
          if(parsed_promo.length !== 0){
            if(parsed_promo.type == 'P'){
              return parsed_promo.discount + '% Off';
            }
            else{
              return 'SALE';
            }
          }
          else{
            return '';
          }
          
        },
    },
    mounted(){
        let code = this.$route.params.id
        this.do_request('api/index.php/customer/v6/product/view', { id: code }).then(res => {
            console.log(res.data)
            let data = res.data
        if (res.status === 200) {
            this.konten = data[0]

        } else {
            // this.snackbar_text = data.msg
            // this.snackbar = true
        }
        }).catch(res => {
            //this.snackbar_text = 'Oops.. Terjadi Kesalahan Pada Sistem'
        })

        this.getBestSeller()

        this.loading = false;

        

  

        
    }
}
</script>

<style scoped>
.variant-circle{
  border-radius:50%;width:35px;height:35px;display:table-cell;
	vertical-align:middle;text-align:center;max-width: 35px;
}
.variant-circle-active{
  border-radius:50%;width:35px;height:35px;display:table-cell;
	vertical-align:middle;text-align:center;max-width: 35px;box-shadow:0 0 0 3px #BAD45B;
}
>>> .v-input--selection-controls__input{
  opacity: 0;
  margin-right:12px !important;
}
.descriptionMax{
  max-height:90px;overflow:hidden;
}

</style>