.master-container{
  max-width: 500px;
}
.app-bar-gradient{
  background: rgb(167,194,42) !important; background: linear-gradient(176deg, rgba(167,194,42,1) 26%, rgba(39,174,96,1) 100%) !important;
}
.text-10{
  font-size: 10px;
}
.text-9{
  font-size: 9px;
}
.text-11{
  font-size: 11px !important;
}
.rounded{
  border-radius: 6px;
}
.tokomana-green{
  color:#ABCF2A;
}
.scroll {
  overflow: auto;
  white-space: nowrap;
}
.scroll-item {
  display: inline-block;
}
.title-section{
  margin-bottom: 0px;
  font-weight: bold;
}
.border-all{
  border: 1px solid #fff;
  border-color: #fff;
  border-radius: 5px;
}
.v-input__icon .v-icon{
  margin-top:0px !important;
}
.index-carousel  .v-item--active .v-btn__content .v-icon {
  color: rgba(171, 207, 42, 0.774);
  opacity: 1;
}

.index-carousel-image{
  width: 100%;
  height: auto;
}
.product-carousel .v-item--active .v-btn__content .v-icon {
  color: rgba(171, 207, 42, 0.774);
  opacity: 1;
}

.product-carousel .v-btn__content .v-icon {
  color: lightgrey;
  opacity: 1;
}

.product-name{
  font-size: 25px;
  font-weight: bold;
}

@media (max-width:330px) {
  .responsive-avatar{
    width: 80px !important;
    height: 80px !important;
    background-color:gray;
    border-radius: 10% !important;
  }
  .product-page-image{
    width:115px;
    height:115px;
  }
  
  .product-view-button-small{
    font-size: 10px !important;
  }
}

@media (max-width:600px) and (min-width:330px){
  .responsive-avatar{
    width: 100px !important;
    height: 100px !important;
    background-color:gray;
    border-radius: 10% !important;
  }
  .product-page-image{
    width:115px;
    height:115px;
  }
  
  .product-view-button-small{
    font-size: 12px !important;
  }
}
@media (max-width:960px) and (min-width:600px) {
  .responsive-avatar{
    width: 110px !important;
    height: 110px !important;
    background-color:gray;
    border-radius: 10% !important;
  }
  .product-page-image{
    width:120px;
    height:120px;
  }
  
  .product-view-button-small{
    font-size: 14px !important;
  }
}
@media (max-width:1264px) and (min-width:960px) {
  .responsive-avatar{
    width: 130px !important;
    height: 130px !important;
    background-color:gray;
    border-radius: 10% !important;
  }
  .product-page-image{
    width:135px;
    height:135px;
  }
  
  .product-view-button-small{
    font-size: 14px !important;
  }
}

.price_old{
  margin-top: 2px;
  padding-left: 10px !important;
}

.free-ongkir-label{
  color:#fff;
  bottom:0;
  display:inline-block;
  padding:0px 5px 0px 5px;
  background-color:#a7c22a;
  font-weight:700;
  border-radius:2px;
  font-size: 10px;
}

.preorder-label{
  color:#6B6B6B;
  bottom:0;
  display:inline-block;
  padding:0px 5px 0px 5px;
  background-color:#EEEEEE;
  font-weight:700;
  border-radius:2px;
  font-size: 10px;
}

.promo-label{
  position: absolute;
  z-index: 1;
  color:white;
  top:10px;
  right: 10px;
  display:inline-block;
  padding:3px 7px 3px 7px;
  background-color:#FF0000;
  font-weight:700;
  border-radius:2px;
  font-size: 11px;
}

.promo-label-page{
  color:white;
  margin-left: 8px;
  padding:3px 7px 3px 7px;
  background-color:#FF0000;
  font-weight:900;
  border-radius:2px;
  font-size: 14px;
}

.promo-preorder-info-text{
  margin-left: 22px;
}

.thin-line-seperator{
  height:1.5px;background-color:#F2F2F2;margin-left: -11px;margin-right: -11px;
}
.thick-line-seperator{
  height:7px;background-color:#F2F2F2;margin-left: -11px;margin-right: -11px;
}





