<template>
    <v-app-bar :style="scroll"
      app
      max-width="500"
      class=" elevation:1"
      style="left: 0;right: 0;margin-left:auto;margin-right:auto;"
    >
    <v-btn icon  @click="$router.go(-1)" >
      <v-icon class="white--text">mdi-chevron-left</v-icon>
    </v-btn>
    <v-flex xs10>
      <v-text-field
          class="mx-3"
          flat
          label="Search"
          prepend-inner-icon="mdi-magnify"
          hide-details
          clearable
          solo
          dense
          style="margin-left:-5px !important"
        ></v-text-field>
    </v-flex>
    <v-btn icon >
      <v-badge
          color="red"
          content="6"
          offset-x="9"
          offset-y="12"
      >
       <v-icon class="white--text">mdi-cart-outline</v-icon>
      </v-badge>
    </v-btn>
    <v-btn icon>
      <v-icon class="white--text">mdi-dots-vertical</v-icon>
    </v-btn>
    
      <!-- <v-toolbar-title v-text="title" /> -->
      <v-spacer />
    </v-app-bar>
</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
</style>

<script>
export default {
  data(){
    return{
      scroll:'background: rgb(167,194,42) !important; background: linear-gradient(176deg, rgba(167,194,42,1) 26%, rgba(39,174,96,1) 100%) !important;',
    }
  },
  mounted(){
  },
  
  methods: {

  }
}
</script>