<template>
    <v-app-bar :style="scroll"
      app
      max-width="500"
      class=" elevation:1"
      style="left: 0;right: 0;margin-left:auto;margin-right:auto;"
    >
    <v-flex xs10>
      <v-text-field
          class="mx-3"
          flat
          label="Search"
          prepend-inner-icon="mdi-magnify"
          hide-details
          clearable
          solo
          dense
          style="margin-left:-5px !important"
        ></v-text-field>
    </v-flex>
    <v-btn icon>
      <v-icon class="white--text">mdi-heart-outline</v-icon>
    </v-btn>
    <v-btn icon>
      <v-icon class="white--text">mdi-bell-outline</v-icon>
    </v-btn>
      <v-spacer />
    </v-app-bar>
</template>

<style lang="scss">
  @import '~assets/styles/style.scss';
</style>

<script>
export default {
  data(){
    return{
      scroll:'',
    }
  },
  mounted(){
    this.handleScroll()
  },
  created () {
      if (process.browser) { 
          window.addEventListener('scroll', this.handleScroll);
      }
  },
  destroyed () {
      if (process.browser) { 
          window.removeEventListener('scroll', this.handleScroll);
      }
  },
  methods: {
    handleScroll () {
      if(window.scrollY > 0){
        return this.scroll = 'background: rgb(167,194,42) !important; background: linear-gradient(176deg, rgba(167,194,42,1) 26%, rgba(39,174,96,1) 100%) !important;';
      } else {
        return this.scroll = 'box-shadow:none; background:transparent !important';
      }
    },

  }
}
</script>